set_location arse.arse.clock_out_RNIM09F 18 6 2 # SB_LUT4 (LogicCell: arse.arse.clock_out_RNIM09F_LC_0)
set_location arse.arse.clock_out_RNO 18 6 5 # SB_LUT4 (LogicCell: arse.arse.clock_out_LC_1)
set_location arse.arse.clock_out 18 6 5 # SB_DFF (LogicCell: arse.arse.clock_out_LC_1)
set_location arse.arse.counter_RNIHKTF1[1] 15 6 3 # SB_LUT4 (LogicCell: arse.arse.counter_RNIHKTF1[1]_LC_2)
set_location arse.arse.counter_RNIRIUV[4] 17 6 0 # SB_LUT4 (LogicCell: arse.arse.counter_RNIRIUV[4]_LC_3)
set_location arse.arse.counter_RNO[0] 16 5 4 # SB_LUT4 (LogicCell: arse.arse.counter[0]_LC_4)
set_location arse.arse.counter[0] 16 5 4 # SB_DFFSS (LogicCell: arse.arse.counter[0]_LC_4)
set_location arse.arse.counter_RNO[1] 15 5 3 # SB_LUT4 (LogicCell: arse.arse.counter[1]_LC_5)
set_location arse.arse.counter[1] 15 5 3 # SB_DFFSS (LogicCell: arse.arse.counter[1]_LC_5)
set_location arse.arse.counter_RNO[2] 15 5 7 # SB_LUT4 (LogicCell: arse.arse.counter[2]_LC_6)
set_location arse.arse.counter[2] 15 5 7 # SB_DFFSR (LogicCell: arse.arse.counter[2]_LC_6)
set_location arse.arse.counter_RNO[3] 16 5 6 # SB_LUT4 (LogicCell: arse.arse.counter[3]_LC_7)
set_location arse.arse.counter[3] 16 5 6 # SB_DFFSR (LogicCell: arse.arse.counter[3]_LC_7)
set_location arse.arse.counter_RNO[4] 16 6 3 # SB_LUT4 (LogicCell: arse.arse.counter[4]_LC_8)
set_location arse.arse.counter[4] 16 6 3 # SB_DFFSS (LogicCell: arse.arse.counter[4]_LC_8)
set_location arse.ddd.Q_esr_RNO 18 5 2 # SB_LUT4 (LogicCell: arse.ddd.Q_esr_RNO_LC_9)
set_location arse.ddd.Q_esr_RNO_0 18 6 7 # SB_LUT4 (LogicCell: arse.ddd.Q_esr_RNO_0_LC_10)
set_location arse.diveight.counter_ns_2_0_.m1 10 3 7 # SB_LUT4 (LogicCell: arse.diveight.counter[0]_LC_11)
set_location arse.diveight.counter[0] 10 3 7 # SB_DFF (LogicCell: arse.diveight.counter[0]_LC_11)
set_location arse.diveight.counter_ns_2_0_.m3 10 3 6 # SB_LUT4 (LogicCell: arse.diveight.counter[1]_LC_12)
set_location arse.diveight.counter[1] 10 3 6 # SB_DFF (LogicCell: arse.diveight.counter[1]_LC_12)
set_location arse.diveight.counter_ns_2_0_.m6 10 3 3 # SB_LUT4 (LogicCell: arse.diveight.counter[2]_LC_13)
set_location arse.diveight.counter[2] 10 3 3 # SB_DFF (LogicCell: arse.diveight.counter[2]_LC_13)
set_location arse.divseven.counter_RNI04101[0] 5 5 6 # SB_LUT4 (LogicCell: arse.divseven.counter_RNI04101[0]_LC_14)
set_location arse.divseven.counter_RNI8ECT[0] 5 5 5 # SB_LUT4 (LogicCell: arse.divseven.counter_RNI8ECT[0]_LC_15)
set_location arse.divseven.counter_ns_2_0_.m10 5 5 4 # SB_LUT4 (LogicCell: arse.divseven.counter[2]_LC_16)
set_location arse.divseven.counter[2] 5 5 4 # SB_DFF (LogicCell: arse.divseven.counter[2]_LC_16)
set_location arse.divseven.counter_ns_2_0_.m3_s 5 5 1 # SB_LUT4 (LogicCell: arse.divseven.counter_ns_2_0_.m3_s_LC_17)
set_location arse.divseven.counter_ns_2_0_.m4 5 5 2 # SB_LUT4 (LogicCell: arse.divseven.counter[0]_LC_18)
set_location arse.divseven.counter[0] 5 5 2 # SB_DFF (LogicCell: arse.divseven.counter[0]_LC_18)
set_location arse.divseven.counter_ns_2_0_.m5 5 4 1 # SB_LUT4 (LogicCell: arse.divseven.counter_ns_2_0_.m5_LC_19)
set_location arse.divseven.counter_ns_2_0_.m6 5 4 2 # SB_LUT4 (LogicCell: arse.divseven.counter[1]_LC_20)
set_location arse.divseven.counter[1] 5 4 2 # SB_DFF (LogicCell: arse.divseven.counter[1]_LC_20)
set_location arse.divseven.counter_ns_2_0_.m9 5 5 3 # SB_LUT4 (LogicCell: arse.divseven.counter_ns_2_0_.m9_LC_21)
set_location arse.divseven.dout_esr_RNO[1] 4 4 6 # SB_LUT4 (LogicCell: arse.divseven.dout_esr[1]_LC_22)
set_location arse.divseven.dout_esr[1] 4 4 6 # SB_DFFESR (LogicCell: arse.divseven.dout_esr[1]_LC_22)
set_location arse.divseven.io_0_RNIIG08 20 4 5 # SB_LUT4 (LogicCell: arse.divseven.io_0_RNIIG08_LC_23)
set_location arse.divseven.seven_RNO 4 5 6 # SB_LUT4 (LogicCell: arse.divseven.seven_RNO_LC_24)
set_location arse.divseven.seven_RNO_0 4 5 5 # SB_LUT4 (LogicCell: arse.divseven.seven_RNO_0_LC_25)
set_location arse.l1.N_23_0_i 20 4 4 # SB_LUT4 (LogicCell: arse.l1.N_23_0_i_LC_26)
set_location arse.l2.un1_Q 19 6 1 # SB_LUT4 (LogicCell: arse.l2.un1_Q_LC_27)
set_location arse.seqcounter_RNIEP0A[4] 6 9 5 # SB_LUT4 (LogicCell: arse.seqcounter_RNIEP0A[4]_LC_28)
set_location arse.seqcounter_RNO[0] 6 9 0 # SB_LUT4 (LogicCell: arse.seqcounter[0]_LC_29)
set_location arse.seqcounter[0] 6 9 0 # SB_DFF (LogicCell: arse.seqcounter[0]_LC_29)
set_location arse.un1_seqcounter_1_cry_0_c 6 9 0 # SB_CARRY (LogicCell: arse.seqcounter[0]_LC_29)
set_location arse.seqcounter_RNO[1] 6 9 1 # SB_LUT4 (LogicCell: arse.seqcounter[1]_LC_30)
set_location arse.seqcounter[1] 6 9 1 # SB_DFF (LogicCell: arse.seqcounter[1]_LC_30)
set_location arse.un1_seqcounter_1_cry_1_c 6 9 1 # SB_CARRY (LogicCell: arse.seqcounter[1]_LC_30)
set_location arse.seqcounter_RNO[2] 6 9 2 # SB_LUT4 (LogicCell: arse.seqcounter[2]_LC_31)
set_location arse.seqcounter[2] 6 9 2 # SB_DFF (LogicCell: arse.seqcounter[2]_LC_31)
set_location arse.un1_seqcounter_1_cry_2_c 6 9 2 # SB_CARRY (LogicCell: arse.seqcounter[2]_LC_31)
set_location arse.seqcounter_RNO[3] 6 9 3 # SB_LUT4 (LogicCell: arse.seqcounter[3]_LC_32)
set_location arse.seqcounter[3] 6 9 3 # SB_DFF (LogicCell: arse.seqcounter[3]_LC_32)
set_location arse.un1_seqcounter_1_cry_3_c 6 9 3 # SB_CARRY (LogicCell: arse.seqcounter[3]_LC_32)
set_location arse.seqcounter_RNO[4] 6 9 4 # SB_LUT4 (LogicCell: arse.seqcounter[4]_LC_33)
set_location arse.seqcounter[4] 6 9 4 # SB_DFF (LogicCell: arse.seqcounter[4]_LC_33)
set_location arse.seqreset_e_0_RNIOLK2 6 5 5 # SB_LUT4 (LogicCell: arse.seqreset_e_0_RNIOLK2_LC_34)
set_location arse.seqreset_e_0_RNIQTP13 18 6 3 # SB_LUT4 (LogicCell: arse.seqreset_e_0_RNIQTP13_LC_35)
set_location arses.clock_out_RNIR6ER 11 4 6 # SB_LUT4 (LogicCell: arses.clock_out_RNIR6ER_LC_36)
set_location arses.clock_out_RNO 11 5 1 # SB_LUT4 (LogicCell: arses.clock_out_LC_37)
set_location arses.clock_out 11 5 1 # SB_DFF (LogicCell: arses.clock_out_LC_37)
set_location arses.counter_RNI04C4[9] 10 5 2 # SB_LUT4 (LogicCell: arses.counter_RNI04C4[9]_LC_38)
set_location arses.counter_RNI1L5[2] 10 4 0 # SB_LUT4 (LogicCell: arses.counter_RNI1L5[2]_LC_39)
set_location arses.counter_RNIA58[5] 9 3 0 # SB_LUT4 (LogicCell: arses.counter_RNIA58[5]_LC_40)
set_location arses.counter_RNIOKH[1] 10 4 1 # SB_LUT4 (LogicCell: arses.counter_RNIOKH[1]_LC_41)
set_location arses.counter_RNIOS0A[14] 10 5 3 # SB_LUT4 (LogicCell: arses.counter_RNIOS0A[14]_LC_42)
set_location arses.counter_RNO[0] 10 4 3 # SB_LUT4 (LogicCell: arses.counter[0]_LC_43)
set_location arses.counter[0] 10 4 3 # SB_DFFSS (LogicCell: arses.counter[0]_LC_43)
set_location arses.counter_RNO[1] 10 4 4 # SB_LUT4 (LogicCell: arses.counter[1]_LC_44)
set_location arses.counter[1] 10 4 4 # SB_DFFSS (LogicCell: arses.counter[1]_LC_44)
set_location arses.counter_RNO[10] 9 5 1 # SB_LUT4 (LogicCell: arses.counter[10]_LC_45)
set_location arses.counter[10] 9 5 1 # SB_DFFSR (LogicCell: arses.counter[10]_LC_45)
set_location arses.un2_counter_cry_10_c 9 5 1 # SB_CARRY (LogicCell: arses.counter[10]_LC_45)
set_location arses.counter_RNO[11] 9 5 2 # SB_LUT4 (LogicCell: arses.counter[11]_LC_46)
set_location arses.counter[11] 9 5 2 # SB_DFFSR (LogicCell: arses.counter[11]_LC_46)
set_location arses.un2_counter_cry_11_c 9 5 2 # SB_CARRY (LogicCell: arses.counter[11]_LC_46)
set_location arses.counter_RNO[12] 9 5 3 # SB_LUT4 (LogicCell: arses.counter[12]_LC_47)
set_location arses.counter[12] 9 5 3 # SB_DFFSR (LogicCell: arses.counter[12]_LC_47)
set_location arses.un2_counter_cry_12_c 9 5 3 # SB_CARRY (LogicCell: arses.counter[12]_LC_47)
set_location arses.counter_RNO[13] 9 5 4 # SB_LUT4 (LogicCell: arses.counter[13]_LC_48)
set_location arses.counter[13] 9 5 4 # SB_DFFSR (LogicCell: arses.counter[13]_LC_48)
set_location arses.un2_counter_cry_13_c 9 5 4 # SB_CARRY (LogicCell: arses.counter[13]_LC_48)
set_location arses.counter_RNO[14] 9 5 5 # SB_LUT4 (LogicCell: arses.counter[14]_LC_49)
set_location arses.counter[14] 9 5 5 # SB_DFFSR (LogicCell: arses.counter[14]_LC_49)
set_location arses.counter_RNO[2] 9 4 1 # SB_LUT4 (LogicCell: arses.counter[2]_LC_50)
set_location arses.counter[2] 9 4 1 # SB_DFFSR (LogicCell: arses.counter[2]_LC_50)
set_location arses.un2_counter_cry_2_c 9 4 1 # SB_CARRY (LogicCell: arses.counter[2]_LC_50)
set_location arses.counter_RNO[3] 9 4 2 # SB_LUT4 (LogicCell: arses.counter[3]_LC_51)
set_location arses.counter[3] 9 4 2 # SB_DFFSR (LogicCell: arses.counter[3]_LC_51)
set_location arses.un2_counter_cry_3_c 9 4 2 # SB_CARRY (LogicCell: arses.counter[3]_LC_51)
set_location arses.counter_RNO[4] 9 4 3 # SB_LUT4 (LogicCell: arses.counter[4]_LC_52)
set_location arses.counter[4] 9 4 3 # SB_DFFSS (LogicCell: arses.counter[4]_LC_52)
set_location arses.un2_counter_cry_4_c 9 4 3 # SB_CARRY (LogicCell: arses.counter[4]_LC_52)
set_location arses.counter_RNO[5] 9 4 4 # SB_LUT4 (LogicCell: arses.counter[5]_LC_53)
set_location arses.counter[5] 9 4 4 # SB_DFFSR (LogicCell: arses.counter[5]_LC_53)
set_location arses.un2_counter_cry_5_c 9 4 4 # SB_CARRY (LogicCell: arses.counter[5]_LC_53)
set_location arses.counter_RNO[6] 9 4 5 # SB_LUT4 (LogicCell: arses.counter[6]_LC_54)
set_location arses.counter[6] 9 4 5 # SB_DFFSR (LogicCell: arses.counter[6]_LC_54)
set_location arses.un2_counter_cry_6_c 9 4 5 # SB_CARRY (LogicCell: arses.counter[6]_LC_54)
set_location arses.counter_RNO[7] 9 4 6 # SB_LUT4 (LogicCell: arses.counter[7]_LC_55)
set_location arses.counter[7] 9 4 6 # SB_DFFSR (LogicCell: arses.counter[7]_LC_55)
set_location arses.un2_counter_cry_7_c 9 4 6 # SB_CARRY (LogicCell: arses.counter[7]_LC_55)
set_location arses.counter_RNO[8] 9 4 7 # SB_LUT4 (LogicCell: arses.counter[8]_LC_56)
set_location arses.counter[8] 9 4 7 # SB_DFFSR (LogicCell: arses.counter[8]_LC_56)
set_location arses.un2_counter_cry_8_c 9 4 7 # SB_CARRY (LogicCell: arses.counter[8]_LC_56)
set_location arses.counter_RNO[9] 9 5 0 # SB_LUT4 (LogicCell: arses.counter[9]_LC_57)
set_location arses.counter[9] 9 5 0 # SB_DFFSR (LogicCell: arses.counter[9]_LC_57)
set_location arses.un2_counter_cry_9_c 9 5 0 # SB_CARRY (LogicCell: arses.counter[9]_LC_57)
set_location debounceconsolereset.counter_RNI4RTH1[6] 11 4 7 # SB_LUT4 (LogicCell: debounceconsolereset.counter_RNI4RTH1[6]_LC_58)
set_location debounceconsolereset.counter_RNISLFD[2] 11 3 5 # SB_LUT4 (LogicCell: debounceconsolereset.counter_RNISLFD[2]_LC_59)
set_location debounceconsolereset.counter_RNO[0] 11 3 7 # SB_LUT4 (LogicCell: debounceconsolereset.counter[0]_LC_60)
set_location debounceconsolereset.counter[0] 11 3 7 # SB_DFF (LogicCell: debounceconsolereset.counter[0]_LC_60)
set_location debounceconsolereset.counter_RNO[1] 11 5 7 # SB_LUT4 (LogicCell: debounceconsolereset.counter[1]_LC_61)
set_location debounceconsolereset.counter[1] 11 5 7 # SB_DFF (LogicCell: debounceconsolereset.counter[1]_LC_61)
set_location debounceconsolereset.counter_RNO[2] 11 3 2 # SB_LUT4 (LogicCell: debounceconsolereset.counter[2]_LC_62)
set_location debounceconsolereset.counter[2] 11 3 2 # SB_DFF (LogicCell: debounceconsolereset.counter[2]_LC_62)
set_location debounceconsolereset.counter_RNO[3] 11 3 6 # SB_LUT4 (LogicCell: debounceconsolereset.counter[3]_LC_63)
set_location debounceconsolereset.counter[3] 11 3 6 # SB_DFF (LogicCell: debounceconsolereset.counter[3]_LC_63)
set_location debounceconsolereset.counter_RNO[4] 11 3 0 # SB_LUT4 (LogicCell: debounceconsolereset.counter[4]_LC_64)
set_location debounceconsolereset.counter[4] 11 3 0 # SB_DFF (LogicCell: debounceconsolereset.counter[4]_LC_64)
set_location debounceconsolereset.counter_RNO[5] 11 5 2 # SB_LUT4 (LogicCell: debounceconsolereset.counter[5]_LC_65)
set_location debounceconsolereset.counter[5] 11 5 2 # SB_DFF (LogicCell: debounceconsolereset.counter[5]_LC_65)
set_location debounceconsolereset.counter_RNO[6] 11 4 5 # SB_LUT4 (LogicCell: debounceconsolereset.counter[6]_LC_66)
set_location debounceconsolereset.counter[6] 11 4 5 # SB_DFF (LogicCell: debounceconsolereset.counter[6]_LC_66)
set_location debounceconsolereset.out_RNO 11 5 6 # SB_LUT4 (LogicCell: debounceconsolereset.out_LC_67)
set_location debounceconsolereset.out 11 5 6 # SB_DFF (LogicCell: debounceconsolereset.out_LC_67)
set_location debounceconsolereset.out_RNO_0 11 5 5 # SB_LUT4 (LogicCell: debounceconsolereset.out_RNO_0_LC_68)
set_location debounceconsolereset.out_RNO_1 11 3 4 # SB_LUT4 (LogicCell: debounceconsolereset.out_RNO_1_LC_69)
set_location masterreset_ibuf_RNIKP26 9 6 2 # SB_LUT4 (LogicCell: masterreset_ibuf_RNIKP26_LC_70)
set_location arse.diveight.dout_0_THRU_LUT4_0 10 1 0 # SB_LUT4 (LogicCell: arse.diveight.dout[0]_LC_71)
set_location arse.diveight.dout[0] 10 1 0 # SB_DFFNSR (LogicCell: arse.diveight.dout[0]_LC_71)
set_location arse.diveight.dout_1_THRU_LUT4_0 30 5 5 # SB_LUT4 (LogicCell: arse.diveight.dout[1]_LC_72)
set_location arse.diveight.dout[1] 30 5 5 # SB_DFFSR (LogicCell: arse.diveight.dout[1]_LC_72)
set_location arse.divseven.dout_nesr_0_THRU_LUT4_0 6 4 3 # SB_LUT4 (LogicCell: arse.divseven.dout_nesr[0]_LC_73)
set_location arse.divseven.dout_nesr[0] 6 4 3 # SB_DFFNESR (LogicCell: arse.divseven.dout_nesr[0]_LC_73)
set_location arse.divseven.seven_THRU_LUT4_0 4 6 0 # SB_LUT4 (LogicCell: arse.divseven.seven_LC_74)
set_location arse.divseven.seven 4 6 0 # SB_DFFE (LogicCell: arse.divseven.seven_LC_74)
set_location arse.l2.un1_Q_arse.ddd.Q_esr_REP_LUT4_0 19 5 1 # SB_LUT4 (LogicCell: arse.ddd.Q_esr_LC_75)
set_location arse.ddd.Q_esr 19 5 1 # SB_DFFESR (LogicCell: arse.ddd.Q_esr_LC_75)
set_location arse.seqreset_e_0_THRU_LUT4_0 6 6 7 # SB_LUT4 (LogicCell: arse.seqreset_e_0_LC_76)
set_location arse.seqreset_e_0 6 6 7 # SB_DFFE (LogicCell: arse.seqreset_e_0_LC_76)
set_location arse.arse.un16_counter_cry_1_THRU_LUT4_0 16 6 1 # SB_LUT4 (LogicCell: arse.arse.un16_counter_cry_1_THRU_LUT4_0_LC_77)
set_location arse.arse.un16_counter_cry_2_c 16 6 1 # SB_CARRY (LogicCell: arse.arse.un16_counter_cry_1_THRU_LUT4_0_LC_77)
set_location arse.arse.un16_counter_cry_2_THRU_LUT4_0 16 6 2 # SB_LUT4 (LogicCell: arse.arse.un16_counter_cry_2_THRU_LUT4_0_LC_78)
set_location arse.arse.un16_counter_cry_3_c 16 6 2 # SB_CARRY (LogicCell: arse.arse.un16_counter_cry_2_THRU_LUT4_0_LC_78)
set_location debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0 11 4 1 # SB_LUT4 (LogicCell: debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0_LC_79)
set_location debounceconsolereset.un3_counter_cry_2_c 11 4 1 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0_LC_79)
set_location debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0 11 4 2 # SB_LUT4 (LogicCell: debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0_LC_80)
set_location debounceconsolereset.un3_counter_cry_3_c 11 4 2 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0_LC_80)
set_location debounceconsolereset.un3_counter_cry_3_THRU_LUT4_0 11 4 3 # SB_LUT4 (LogicCell: debounceconsolereset.un3_counter_cry_3_THRU_LUT4_0_LC_81)
set_location debounceconsolereset.un3_counter_cry_4_c 11 4 3 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_3_THRU_LUT4_0_LC_81)
set_location debounceconsolereset.un3_counter_cry_4_THRU_LUT4_0 11 4 4 # SB_LUT4 (LogicCell: debounceconsolereset.un3_counter_cry_4_THRU_LUT4_0_LC_82)
set_location debounceconsolereset.un3_counter_cry_5_c 11 4 4 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_4_THRU_LUT4_0_LC_82)
set_location GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0 16 1 5 # SB_LUT4 (LogicCell: GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0_LC_83)
set_location arse.arse.un16_counter_cry_1_c 16 6 0 # SB_CARRY (LogicCell: arse.arse.un16_counter_cry_1_c_LC_84)
set_location arses.un2_counter_cry_1_c 9 4 0 # SB_CARRY (LogicCell: arses.un2_counter_cry_1_c_LC_85)
set_location debounceconsolereset.un3_counter_cry_1_c 11 4 0 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_1_c_LC_86)
set_location GND -1 -1 -1 # GND
set_io PACKAGEPIN_ibuf_gb_io 17 0 0 # ICE_GB_IO
set_io apuclk_obuf 33 10 1 # ICE_IO
set_io apureset_obuf 33 5 1 # ICE_IO
set_io apusync_ibuf 33 2 0 # ICE_IO
set_io arse.diveight.io_0 33 5 0 # ICE_IO
set_io arse.divseven.io_0 0 4 0 # ICE_IO
set_io consolereset_ibuf 11 33 1 # ICE_IO
set_io cpureset_obuf 33 4 0 # ICE_IO
set_io lcol1_obuf 30 33 1 # ICE_IO
set_io lcol2_obuf 27 33 0 # ICE_IO
set_io lcol3_obuf 16 33 1 # ICE_IO
set_io lcol4_obuf 8 33 1 # ICE_IO
set_io led1_obuf 22 33 1 # ICE_IO
set_io led2_obuf 25 33 0 # ICE_IO
set_io led3_obuft 13 33 1 # ICE_IO
set_io led4_obuft 11 33 0 # ICE_IO
set_io led5_obuft 17 33 0 # ICE_IO
set_io led6_obuft 14 33 1 # ICE_IO
set_io led7_obuft 5 33 0 # ICE_IO
set_io led8_obuft 4 33 0 # ICE_IO
set_io masterreset_ibuf 28 33 1 # ICE_IO
set_io top_pll_nrtthrth.PLLOUTCORE_derived_clock_RNIRGL5 0 16 1 # ICE_GB
set_location top_pll_nrtthrth.top_pll_nrtthrth_inst 16 0 1 # SB_PLL40_CORE
set_location INV_PLLOUTCORE_0_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 18 16 0 # SB_LUT4 (LogicCell: LC_87)
