set_location arse.arse.clock_out_RNO 24 24 7 # SB_LUT4 (LogicCell: arse.arse.clock_out_LC_0)
set_location arse.arse.clock_out 24 24 7 # SB_DFF (LogicCell: arse.arse.clock_out_LC_0)
set_location arse.arse.counter_RNIHKTF1[1] 24 24 1 # SB_LUT4 (LogicCell: arse.arse.counter_RNIHKTF1[1]_LC_1)
set_location arse.arse.counter_RNILCUV[1] 23 23 1 # SB_LUT4 (LogicCell: arse.arse.counter_RNILCUV[1]_LC_2)
set_location arse.arse.counter_RNIRIUV[4] 24 24 6 # SB_LUT4 (LogicCell: arse.arse.counter_RNIRIUV[4]_LC_3)
set_location arse.arse.counter_RNO[0] 23 24 2 # SB_LUT4 (LogicCell: arse.arse.counter[0]_LC_4)
set_location arse.arse.counter[0] 23 24 2 # SB_DFFSS (LogicCell: arse.arse.counter[0]_LC_4)
set_location arse.arse.counter_RNO[1] 23 24 7 # SB_LUT4 (LogicCell: arse.arse.counter[1]_LC_5)
set_location arse.arse.counter[1] 23 24 7 # SB_DFFSS (LogicCell: arse.arse.counter[1]_LC_5)
set_location arse.arse.counter_RNO[2] 24 23 6 # SB_LUT4 (LogicCell: arse.arse.counter[2]_LC_6)
set_location arse.arse.counter[2] 24 23 6 # SB_DFFSR (LogicCell: arse.arse.counter[2]_LC_6)
set_location arse.arse.counter_RNO[3] 23 24 0 # SB_LUT4 (LogicCell: arse.arse.counter[3]_LC_7)
set_location arse.arse.counter[3] 23 24 0 # SB_DFFSR (LogicCell: arse.arse.counter[3]_LC_7)
set_location arse.arse.counter_RNO[4] 23 24 5 # SB_LUT4 (LogicCell: arse.arse.counter[4]_LC_8)
set_location arse.arse.counter[4] 23 24 5 # SB_DFFSS (LogicCell: arse.arse.counter[4]_LC_8)
set_location arse.ddd.Q_RNO 24 24 2 # SB_LUT4 (LogicCell: arse.ddd.Q_RNO_LC_9)
set_location arse.diveight.counter_ns_2_0_.m1 31 25 5 # SB_LUT4 (LogicCell: arse.diveight.counter[0]_LC_10)
set_location arse.diveight.counter[0] 31 25 5 # SB_DFF (LogicCell: arse.diveight.counter[0]_LC_10)
set_location arse.diveight.counter_ns_2_0_.m3 31 25 7 # SB_LUT4 (LogicCell: arse.diveight.counter[1]_LC_11)
set_location arse.diveight.counter[1] 31 25 7 # SB_DFF (LogicCell: arse.diveight.counter[1]_LC_11)
set_location arse.diveight.counter_ns_2_0_.m6 31 25 0 # SB_LUT4 (LogicCell: arse.diveight.counter[2]_LC_12)
set_location arse.diveight.counter[2] 31 25 0 # SB_DFF (LogicCell: arse.diveight.counter[2]_LC_12)
set_location arse.diveight.dout_RNO[0] 31 24 1 # SB_LUT4 (LogicCell: arse.diveight.dout[0]_LC_13)
set_location arse.diveight.dout[0] 31 24 1 # SB_DFFN (LogicCell: arse.diveight.dout[0]_LC_13)
set_location arse.divseven.counter_ns_2_0_.m10 2 5 5 # SB_LUT4 (LogicCell: arse.divseven.counter[2]_LC_14)
set_location arse.divseven.counter[2] 2 5 5 # SB_DFF (LogicCell: arse.divseven.counter[2]_LC_14)
set_location arse.divseven.counter_ns_2_0_.m3_s 1 5 5 # SB_LUT4 (LogicCell: arse.divseven.counter_ns_2_0_.m3_s_LC_15)
set_location arse.divseven.counter_ns_2_0_.m4 1 5 6 # SB_LUT4 (LogicCell: arse.divseven.counter[0]_LC_16)
set_location arse.divseven.counter[0] 1 5 6 # SB_DFF (LogicCell: arse.divseven.counter[0]_LC_16)
set_location arse.divseven.counter_ns_2_0_.m5 1 5 1 # SB_LUT4 (LogicCell: arse.divseven.counter_ns_2_0_.m5_LC_17)
set_location arse.divseven.counter_ns_2_0_.m6 1 5 2 # SB_LUT4 (LogicCell: arse.divseven.counter[1]_LC_18)
set_location arse.divseven.counter[1] 1 5 2 # SB_DFF (LogicCell: arse.divseven.counter[1]_LC_18)
set_location arse.divseven.counter_ns_2_0_.m9 2 5 4 # SB_LUT4 (LogicCell: arse.divseven.counter_ns_2_0_.m9_LC_19)
set_location arse.divseven.dout_RNO[1] 1 4 3 # SB_LUT4 (LogicCell: arse.divseven.dout[1]_LC_20)
set_location arse.divseven.dout[1] 1 4 3 # SB_DFFSR (LogicCell: arse.divseven.dout[1]_LC_20)
set_location arse.divseven.dout_nesr_RNO[0] 2 5 1 # SB_LUT4 (LogicCell: arse.divseven.dout_nesr_RNO[0]_LC_21)
set_location arse.divseven.dout_nesr_RNO_0[0] 2 5 0 # SB_LUT4 (LogicCell: arse.divseven.dout_nesr_RNO_0[0]_LC_22)
set_location arse.divseven.io_0_RNIIG08 32 25 3 # SB_LUT4 (LogicCell: arse.divseven.io_0_RNIIG08_LC_23)
set_location arse.divseven.seven_RNO 2 5 2 # SB_LUT4 (LogicCell: arse.divseven.seven_LC_24)
set_location arse.divseven.seven 2 5 2 # SB_DFF (LogicCell: arse.divseven.seven_LC_24)
set_location arse.divseven.seven_RNO_0 2 5 3 # SB_LUT4 (LogicCell: arse.divseven.seven_RNO_0_LC_25)
set_location arse.l1.un1_Q 32 25 2 # SB_LUT4 (LogicCell: arse.l1.un1_Q_LC_26)
set_location arse.l2.un1_Q 29 25 6 # SB_LUT4 (LogicCell: arse.l2.un1_Q_LC_27)
set_location masterreset_ibuf_RNIKP26 3 22 5 # SB_LUT4 (LogicCell: masterreset_ibuf_RNIKP26_LC_28)
set_location arse.diveight.dout_1_THRU_LUT4_0 32 24 6 # SB_LUT4 (LogicCell: arse.diveight.dout[1]_LC_29)
set_location arse.diveight.dout[1] 32 24 6 # SB_DFFSR (LogicCell: arse.diveight.dout[1]_LC_29)
set_location arse.divseven.dout_nesr_0_THRU_LUT4_0 2 4 6 # SB_LUT4 (LogicCell: arse.divseven.dout_nesr[0]_LC_30)
set_location arse.divseven.dout_nesr[0] 2 4 6 # SB_DFFNESR (LogicCell: arse.divseven.dout_nesr[0]_LC_30)
set_location arse.l2.un1_Q_arse.ddd.Q_REP_LUT4_0 29 24 0 # SB_LUT4 (LogicCell: arse.ddd.Q_LC_31)
set_location arse.ddd.Q 29 24 0 # SB_DFFE (LogicCell: arse.ddd.Q_LC_31)
set_location GND -1 -1 -1 # GND
set_io apuclk_obuf 33 28 0 # ICE_IO
set_io apureset_obuf 29 33 1 # ICE_IO
set_io apusync_ibuf 33 23 1 # ICE_IO
set_io arse.diveight.io_0 33 24 1 # ICE_IO
set_io arse.divseven.io_0 0 4 0 # ICE_IO
set_location bum2_inst 16 0 1 # SB_PLL40_PAD
set_io cpureset_obuf 33 27 1 # ICE_IO
set_io lcol1_obuf 30 33 1 # ICE_IO
set_io lcol2_obuf 27 33 0 # ICE_IO
set_io lcol3_obuf 16 33 1 # ICE_IO
set_io lcol4_obuf 8 33 1 # ICE_IO
set_io led1_obuf 22 33 1 # ICE_IO
set_io led2_obuf 25 33 0 # ICE_IO
set_io led3_obuft 13 33 1 # ICE_IO
set_io led4_obuft 11 33 0 # ICE_IO
set_io led5_obuft 17 33 0 # ICE_IO
set_io led6_obuft 14 33 1 # ICE_IO
set_io led7_obuf 5 33 0 # ICE_IO
set_io led8_obuft 4 33 0 # ICE_IO
set_io masterreset_ibuf 0 11 1 # ICE_IO
set_io mclkreset_ibuf 26 33 0 # ICE_IO
set_io reset_ibuf 11 33 1 # ICE_IO
set_location INV_PLLOUTGLOBAL_0 -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 12 28 3 # SB_LUT4 (LogicCell: LC_32)
