set_location arse.apusynclatched_RNO 32 4 3 # SB_LUT4 (LogicCell: arse.apusynclatched_LC_0)
set_location arse.apusynclatched 32 4 3 # SB_DFFN (LogicCell: arse.apusynclatched_LC_0)
set_location arse.cpuclkreset_RNO 30 7 6 # SB_LUT4 (LogicCell: arse.cpuclkreset_LC_1)
set_location arse.cpuclkreset 30 7 6 # SB_DFFNSR (LogicCell: arse.cpuclkreset_LC_1)
set_location arse.cpuclkreset_RNO_0 24 7 7 # SB_LUT4 (LogicCell: arse.cpuclkreset_RNO_0_LC_2)
set_location arse.cpuresetcount_RNIATKJ1[7] 24 7 6 # SB_LUT4 (LogicCell: arse.cpuresetcount_RNIATKJ1[7]_LC_3)
set_location arse.cpuresetcount_RNIB4QP[0] 24 7 3 # SB_LUT4 (LogicCell: arse.cpuresetcount_RNIB4QP[0]_LC_4)
set_location arse.cpuresetcount_RNO[0] 24 8 0 # SB_LUT4 (LogicCell: arse.cpuresetcount[0]_LC_5)
set_location arse.cpuresetcount[0] 24 8 0 # SB_DFFNSR (LogicCell: arse.cpuresetcount[0]_LC_5)
set_location arse.un1_cpuresetcount_1_cry_0_c 24 8 0 # SB_CARRY (LogicCell: arse.cpuresetcount[0]_LC_5)
set_location arse.cpuresetcount_RNO[1] 24 8 1 # SB_LUT4 (LogicCell: arse.cpuresetcount[1]_LC_6)
set_location arse.cpuresetcount[1] 24 8 1 # SB_DFFNSR (LogicCell: arse.cpuresetcount[1]_LC_6)
set_location arse.un1_cpuresetcount_1_cry_1_c 24 8 1 # SB_CARRY (LogicCell: arse.cpuresetcount[1]_LC_6)
set_location arse.cpuresetcount_RNO[2] 24 8 2 # SB_LUT4 (LogicCell: arse.cpuresetcount[2]_LC_7)
set_location arse.cpuresetcount[2] 24 8 2 # SB_DFFNSR (LogicCell: arse.cpuresetcount[2]_LC_7)
set_location arse.un1_cpuresetcount_1_cry_2_c 24 8 2 # SB_CARRY (LogicCell: arse.cpuresetcount[2]_LC_7)
set_location arse.cpuresetcount_RNO[3] 24 8 3 # SB_LUT4 (LogicCell: arse.cpuresetcount[3]_LC_8)
set_location arse.cpuresetcount[3] 24 8 3 # SB_DFFNSR (LogicCell: arse.cpuresetcount[3]_LC_8)
set_location arse.un1_cpuresetcount_1_cry_3_c 24 8 3 # SB_CARRY (LogicCell: arse.cpuresetcount[3]_LC_8)
set_location arse.cpuresetcount_RNO[4] 24 8 4 # SB_LUT4 (LogicCell: arse.cpuresetcount[4]_LC_9)
set_location arse.cpuresetcount[4] 24 8 4 # SB_DFFNSR (LogicCell: arse.cpuresetcount[4]_LC_9)
set_location arse.un1_cpuresetcount_1_cry_4_c 24 8 4 # SB_CARRY (LogicCell: arse.cpuresetcount[4]_LC_9)
set_location arse.cpuresetcount_RNO[5] 24 8 5 # SB_LUT4 (LogicCell: arse.cpuresetcount[5]_LC_10)
set_location arse.cpuresetcount[5] 24 8 5 # SB_DFFNSR (LogicCell: arse.cpuresetcount[5]_LC_10)
set_location arse.un1_cpuresetcount_1_cry_5_c 24 8 5 # SB_CARRY (LogicCell: arse.cpuresetcount[5]_LC_10)
set_location arse.cpuresetcount_RNO[6] 24 8 6 # SB_LUT4 (LogicCell: arse.cpuresetcount[6]_LC_11)
set_location arse.cpuresetcount[6] 24 8 6 # SB_DFFNSR (LogicCell: arse.cpuresetcount[6]_LC_11)
set_location arse.un1_cpuresetcount_1_cry_6_c 24 8 6 # SB_CARRY (LogicCell: arse.cpuresetcount[6]_LC_11)
set_location arse.cpuresetcount_RNO[7] 24 8 7 # SB_LUT4 (LogicCell: arse.cpuresetcount[7]_LC_12)
set_location arse.cpuresetcount[7] 24 8 7 # SB_DFFNSR (LogicCell: arse.cpuresetcount[7]_LC_12)
set_location arse.cpuresetoutreg_RNO 23 8 4 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_LC_13)
set_location arse.cpuresetoutreg 23 8 4 # SB_DFFNSR (LogicCell: arse.cpuresetoutreg_LC_13)
set_location arse.cpuresetoutreg_RNO_0 23 8 3 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_0_LC_14)
set_location arse.cpuresetoutreg_RNO_1 24 7 5 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_1_LC_15)
set_location arse.cpuresetoutreg_RNO_2 24 9 4 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_2_LC_16)
set_location arse.cpuresetoutreg_RNO_3 23 8 2 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_3_LC_17)
set_location arse.cpuresetoutreg_RNO_4 24 7 4 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_4_LC_18)
set_location arse.cpuresetoutreg_RNO_5 24 9 7 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_5_LC_19)
set_location arse.cpuresetoutreg_RNO_6 23 8 1 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_6_LC_20)
set_location arse.cpuresetoutreg_RNO_7 24 9 6 # SB_LUT4 (LogicCell: arse.cpuresetoutreg_RNO_7_LC_21)
set_location arse.diveight.counter_RNIAAKM1[1] 32 5 0 # SB_LUT4 (LogicCell: arse.diveight.dout[1]_LC_22)
set_location arse.diveight.dout[1] 32 5 0 # SB_DFF (LogicCell: arse.diveight.dout[1]_LC_22)
set_location arse.diveight.counter_ns_2_0_.m1 31 6 5 # SB_LUT4 (LogicCell: arse.diveight.counter[0]_LC_23)
set_location arse.diveight.counter[0] 31 6 5 # SB_DFF (LogicCell: arse.diveight.counter[0]_LC_23)
set_location arse.diveight.counter_ns_2_0_.m3 31 6 6 # SB_LUT4 (LogicCell: arse.diveight.counter[1]_LC_24)
set_location arse.diveight.counter[1] 31 6 6 # SB_DFF (LogicCell: arse.diveight.counter[1]_LC_24)
set_location arse.diveight.dout_RNO[0] 32 6 5 # SB_LUT4 (LogicCell: arse.diveight.dout[0]_LC_25)
set_location arse.diveight.dout[0] 32 6 5 # SB_DFFN (LogicCell: arse.diveight.dout[0]_LC_25)
set_location arse.divseven.counter_ns_2_0_.N_4_i 26 8 2 # SB_LUT4 (LogicCell: arse.divseven.counter[0]_LC_26)
set_location arse.divseven.counter[0] 26 8 2 # SB_DFF (LogicCell: arse.divseven.counter[0]_LC_26)
set_location arse.divseven.counter_ns_2_0_.N_5_i 26 8 3 # SB_LUT4 (LogicCell: arse.divseven.counter[1]_LC_27)
set_location arse.divseven.counter[1] 26 8 3 # SB_DFF (LogicCell: arse.divseven.counter[1]_LC_27)
set_location arse.divseven.counter_ns_2_0_.N_8_i 26 8 0 # SB_LUT4 (LogicCell: arse.divseven.counter[2]_LC_28)
set_location arse.divseven.counter[2] 26 8 0 # SB_DFF (LogicCell: arse.divseven.counter[2]_LC_28)
set_location arse.divseven.dout_RNO[0] 27 8 3 # SB_LUT4 (LogicCell: arse.divseven.dout[0]_LC_29)
set_location arse.divseven.dout[0] 27 8 3 # SB_DFFN (LogicCell: arse.divseven.dout[0]_LC_29)
set_location arse.divseven.dout_RNO_0[0] 27 8 2 # SB_LUT4 (LogicCell: arse.divseven.dout_RNO_0[0]_LC_30)
set_location arse.divseven.dout_RNO_0[1] 27 8 7 # SB_LUT4 (LogicCell: arse.divseven.dout_RNO_0[1]_LC_31)
set_location arse.divseven.dout_RNO[1] 32 9 4 # SB_LUT4 (LogicCell: arse.divseven.dout[1]_LC_32)
set_location arse.divseven.dout[1] 32 9 4 # SB_DFF (LogicCell: arse.divseven.dout[1]_LC_32)
set_location arse.divseven.seven_RNO 26 8 5 # SB_LUT4 (LogicCell: arse.divseven.seven_RNO_LC_33)
set_location arse.doingseven_RNO 23 7 7 # SB_LUT4 (LogicCell: arse.doingseven_LC_34)
set_location arse.doingseven 23 7 7 # SB_DFFNSR (LogicCell: arse.doingseven_LC_34)
set_location arse.doingseven_RNO_0 24 7 1 # SB_LUT4 (LogicCell: arse.doingseven_RNO_0_LC_35)
set_location arses.clock_out_RNIR6ER 21 13 3 # SB_LUT4 (LogicCell: arses.clock_out_RNIR6ER_LC_36)
set_location arses.clock_out_RNIR6ER_0 22 9 0 # SB_LUT4 (LogicCell: arses.clock_out_RNIR6ER_0_LC_37)
set_location arses.counter_RNI04C4[9] 23 9 5 # SB_LUT4 (LogicCell: arses.counter_RNI04C4[9]_LC_38)
set_location arses.counter_RNI1L5[2] 22 10 2 # SB_LUT4 (LogicCell: arses.counter_RNI1L5[2]_LC_39)
set_location arses.counter_RNIA58[5] 23 9 3 # SB_LUT4 (LogicCell: arses.counter_RNIA58[5]_LC_40)
set_location arses.counter_RNIOKH[1] 23 9 4 # SB_LUT4 (LogicCell: arses.counter_RNIOKH[1]_LC_41)
set_location arses.counter_RNIOS0A[14] 23 9 6 # SB_LUT4 (LogicCell: arses.counter_RNIOS0A[14]_LC_42)
set_location arses.counter_RNO[0] 22 11 3 # SB_LUT4 (LogicCell: arses.counter[0]_LC_43)
set_location arses.counter[0] 22 11 3 # SB_DFFSS (LogicCell: arses.counter[0]_LC_43)
set_location arses.counter_RNO[1] 21 9 7 # SB_LUT4 (LogicCell: arses.counter[1]_LC_44)
set_location arses.counter[1] 21 9 7 # SB_DFFSS (LogicCell: arses.counter[1]_LC_44)
set_location arses.counter_RNO[10] 23 11 1 # SB_LUT4 (LogicCell: arses.counter[10]_LC_45)
set_location arses.counter[10] 23 11 1 # SB_DFFSR (LogicCell: arses.counter[10]_LC_45)
set_location arses.un2_counter_cry_10_c 23 11 1 # SB_CARRY (LogicCell: arses.counter[10]_LC_45)
set_location arses.counter_RNO[11] 23 11 2 # SB_LUT4 (LogicCell: arses.counter[11]_LC_46)
set_location arses.counter[11] 23 11 2 # SB_DFFSR (LogicCell: arses.counter[11]_LC_46)
set_location arses.un2_counter_cry_11_c 23 11 2 # SB_CARRY (LogicCell: arses.counter[11]_LC_46)
set_location arses.counter_RNO[12] 23 11 3 # SB_LUT4 (LogicCell: arses.counter[12]_LC_47)
set_location arses.counter[12] 23 11 3 # SB_DFFSR (LogicCell: arses.counter[12]_LC_47)
set_location arses.un2_counter_cry_12_c 23 11 3 # SB_CARRY (LogicCell: arses.counter[12]_LC_47)
set_location arses.counter_RNO[13] 23 11 4 # SB_LUT4 (LogicCell: arses.counter[13]_LC_48)
set_location arses.counter[13] 23 11 4 # SB_DFFSR (LogicCell: arses.counter[13]_LC_48)
set_location arses.un2_counter_cry_13_c 23 11 4 # SB_CARRY (LogicCell: arses.counter[13]_LC_48)
set_location arses.counter_RNO[14] 23 11 5 # SB_LUT4 (LogicCell: arses.counter[14]_LC_49)
set_location arses.counter[14] 23 11 5 # SB_DFFSR (LogicCell: arses.counter[14]_LC_49)
set_location arses.counter_RNO[2] 23 10 1 # SB_LUT4 (LogicCell: arses.counter[2]_LC_50)
set_location arses.counter[2] 23 10 1 # SB_DFFSR (LogicCell: arses.counter[2]_LC_50)
set_location arses.un2_counter_cry_2_c 23 10 1 # SB_CARRY (LogicCell: arses.counter[2]_LC_50)
set_location arses.counter_RNO[3] 23 10 2 # SB_LUT4 (LogicCell: arses.counter[3]_LC_51)
set_location arses.counter[3] 23 10 2 # SB_DFFSR (LogicCell: arses.counter[3]_LC_51)
set_location arses.un2_counter_cry_3_c 23 10 2 # SB_CARRY (LogicCell: arses.counter[3]_LC_51)
set_location arses.counter_RNO[4] 23 10 3 # SB_LUT4 (LogicCell: arses.counter[4]_LC_52)
set_location arses.counter[4] 23 10 3 # SB_DFFSS (LogicCell: arses.counter[4]_LC_52)
set_location arses.un2_counter_cry_4_c 23 10 3 # SB_CARRY (LogicCell: arses.counter[4]_LC_52)
set_location arses.counter_RNO[5] 23 10 4 # SB_LUT4 (LogicCell: arses.counter[5]_LC_53)
set_location arses.counter[5] 23 10 4 # SB_DFFSR (LogicCell: arses.counter[5]_LC_53)
set_location arses.un2_counter_cry_5_c 23 10 4 # SB_CARRY (LogicCell: arses.counter[5]_LC_53)
set_location arses.counter_RNO[6] 23 10 5 # SB_LUT4 (LogicCell: arses.counter[6]_LC_54)
set_location arses.counter[6] 23 10 5 # SB_DFFSR (LogicCell: arses.counter[6]_LC_54)
set_location arses.un2_counter_cry_6_c 23 10 5 # SB_CARRY (LogicCell: arses.counter[6]_LC_54)
set_location arses.counter_RNO[7] 23 10 6 # SB_LUT4 (LogicCell: arses.counter[7]_LC_55)
set_location arses.counter[7] 23 10 6 # SB_DFFSR (LogicCell: arses.counter[7]_LC_55)
set_location arses.un2_counter_cry_7_c 23 10 6 # SB_CARRY (LogicCell: arses.counter[7]_LC_55)
set_location arses.counter_RNO[8] 23 10 7 # SB_LUT4 (LogicCell: arses.counter[8]_LC_56)
set_location arses.counter[8] 23 10 7 # SB_DFFSR (LogicCell: arses.counter[8]_LC_56)
set_location arses.un2_counter_cry_8_c 23 10 7 # SB_CARRY (LogicCell: arses.counter[8]_LC_56)
set_location arses.counter_RNO[9] 23 11 0 # SB_LUT4 (LogicCell: arses.counter[9]_LC_57)
set_location arses.counter[9] 23 11 0 # SB_DFFSR (LogicCell: arses.counter[9]_LC_57)
set_location arses.un2_counter_cry_9_c 23 11 0 # SB_CARRY (LogicCell: arses.counter[9]_LC_57)
set_location col_RNO[0] 21 13 4 # SB_LUT4 (LogicCell: col[0]_LC_58)
set_location col[0] 21 13 4 # SB_DFF (LogicCell: col[0]_LC_58)
set_location col_RNO[1] 21 13 5 # SB_LUT4 (LogicCell: col[1]_LC_59)
set_location col[1] 21 13 5 # SB_DFF (LogicCell: col[1]_LC_59)
set_location debounceconsolereset.counter_RNINST81[4] 22 9 1 # SB_LUT4 (LogicCell: debounceconsolereset.counter_RNINST81[4]_LC_60)
set_location debounceconsolereset.counter_RNO[0] 22 9 2 # SB_LUT4 (LogicCell: debounceconsolereset.counter[0]_LC_61)
set_location debounceconsolereset.counter[0] 22 9 2 # SB_DFF (LogicCell: debounceconsolereset.counter[0]_LC_61)
set_location debounceconsolereset.counter_RNO[1] 22 9 4 # SB_LUT4 (LogicCell: debounceconsolereset.counter[1]_LC_62)
set_location debounceconsolereset.counter[1] 22 9 4 # SB_DFF (LogicCell: debounceconsolereset.counter[1]_LC_62)
set_location debounceconsolereset.counter_RNO[2] 22 8 7 # SB_LUT4 (LogicCell: debounceconsolereset.counter[2]_LC_63)
set_location debounceconsolereset.counter[2] 22 8 7 # SB_DFF (LogicCell: debounceconsolereset.counter[2]_LC_63)
set_location debounceconsolereset.counter_RNO[3] 22 8 5 # SB_LUT4 (LogicCell: debounceconsolereset.counter[3]_LC_64)
set_location debounceconsolereset.counter[3] 22 8 5 # SB_DFF (LogicCell: debounceconsolereset.counter[3]_LC_64)
set_location debounceconsolereset.counter_RNO[4] 22 8 3 # SB_LUT4 (LogicCell: debounceconsolereset.counter[4]_LC_65)
set_location debounceconsolereset.counter[4] 22 8 3 # SB_DFF (LogicCell: debounceconsolereset.counter[4]_LC_65)
set_location debounceconsolereset.out_RNI1B6C 29 8 1 # SB_LUT4 (LogicCell: debounceconsolereset.out_RNI1B6C_LC_66)
set_location debounceconsolereset.out_RNO 22 10 5 # SB_LUT4 (LogicCell: debounceconsolereset.out_LC_67)
set_location debounceconsolereset.out 22 10 5 # SB_DFF (LogicCell: debounceconsolereset.out_LC_67)
set_location debouncedn.out_cnv 22 10 4 # SB_LUT4 (LogicCell: debouncedn.out_cnv_LC_68)
set_location debouncedn.out_cnv_1 22 9 7 # SB_LUT4 (LogicCell: debouncedn.out_cnv_1_LC_69)
set_location delayConstant_RNITQQ12[0] 21 9 1 # SB_LUT4 (LogicCell: delayConstant_fast[0]_LC_70)
set_location delayConstant_fast[0] 21 9 1 # SB_DFFSR (LogicCell: delayConstant_fast[0]_LC_70)
set_location delayConstant_RNO[1] 21 11 1 # SB_LUT4 (LogicCell: delayConstant[1]_LC_71)
set_location delayConstant[1] 21 11 1 # SB_DFFSR (LogicCell: delayConstant[1]_LC_71)
set_location un1_delayConstant_cry_1_0_c 21 11 1 # SB_CARRY (LogicCell: delayConstant[1]_LC_71)
set_location delayConstant_RNO[3] 21 11 3 # SB_LUT4 (LogicCell: delayConstant[3]_LC_72)
set_location delayConstant[3] 21 11 3 # SB_DFFSR (LogicCell: delayConstant[3]_LC_72)
set_location un1_delayConstant_cry_3_0_c 21 11 3 # SB_CARRY (LogicCell: delayConstant[3]_LC_72)
set_location delayConstant_RNO[7] 21 11 7 # SB_LUT4 (LogicCell: delayConstant[7]_LC_73)
set_location delayConstant[7] 21 11 7 # SB_DFFSR (LogicCell: delayConstant[7]_LC_73)
set_location dig1.leds_1_i_RNO[1] 22 15 2 # SB_LUT4 (LogicCell: dig1.leds_1_i[1]_LC_74)
set_location dig1.leds_1_i[1] 22 15 2 # SB_DFFE (LogicCell: dig1.leds_1_i[1]_LC_74)
set_location dig1.leds_1_i_RNO[2] 22 15 7 # SB_LUT4 (LogicCell: dig1.leds_1_i[2]_LC_75)
set_location dig1.leds_1_i[2] 22 15 7 # SB_DFFE (LogicCell: dig1.leds_1_i[2]_LC_75)
set_location dig1.leds_1_i_RNO[3] 22 15 3 # SB_LUT4 (LogicCell: dig1.leds_1_i[3]_LC_76)
set_location dig1.leds_1_i[3] 22 15 3 # SB_DFFE (LogicCell: dig1.leds_1_i[3]_LC_76)
set_location dig1.leds_cnst_3_1_.m11 22 13 3 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m11_LC_77)
set_location dig1.leds_cnst_3_1_.m11x_i_o2 21 14 4 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m11x_i_o2_LC_78)
set_location dig1.leds_cnst_3_1_.m13 22 13 2 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m13_LC_79)
set_location dig1.leds_cnst_3_1_.m23_am 22 14 0 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m23_am_LC_80)
set_location dig1.leds_cnst_3_1_.m23_bm 22 12 0 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m23_bm_LC_81)
set_location dig1.leds_cnst_3_1_.m29_am 22 14 4 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m29_am_LC_82)
set_location dig1.leds_cnst_3_1_.m29_bm 22 13 4 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m29_bm_LC_83)
set_location dig1.leds_cnst_3_1_.m30_ns 22 14 5 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m30_ns_LC_84)
set_location dig1.leds_cnst_3_1_.m30_ns_1 22 13 5 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m30_ns_1_LC_85)
set_location dig1.leds_cnst_3_1_.m34_am 21 14 5 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m34_am_LC_86)
set_location dig1.leds_cnst_3_1_.m34_bm 21 14 2 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m34_bm_LC_87)
set_location dig1.leds_cnst_3_1_.m34_ns 21 14 6 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m34_ns_LC_88)
set_location dig1.leds_cnst_3_1_.m37 22 14 6 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m37_LC_89)
set_location dig1.leds_cnst_3_1_.m8_am 22 13 0 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m8_am_LC_90)
set_location dig1.leds_cnst_3_1_.m8_bm 22 12 6 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m8_bm_LC_91)
set_location dig1.leds_cnst_3_1_.m8_ns 22 13 1 # SB_LUT4 (LogicCell: dig1.leds_cnst_3_1_.m8_ns_LC_92)
set_location dig1.un1_leds114 22 14 2 # SB_LUT4 (LogicCell: dig1.un1_leds114_LC_93)
set_location dig2.leds_1_i_RNO[1] 19 12 0 # SB_LUT4 (LogicCell: dig2.leds_1_i[1]_LC_94)
set_location dig2.leds_1_i[1] 19 12 0 # SB_DFFE (LogicCell: dig2.leds_1_i[1]_LC_94)
set_location dig2.leds_1_i_RNO[2] 19 13 6 # SB_LUT4 (LogicCell: dig2.leds_1_i[2]_LC_95)
set_location dig2.leds_1_i[2] 19 13 6 # SB_DFFE (LogicCell: dig2.leds_1_i[2]_LC_95)
set_location dig2.leds_1_i_RNO[3] 19 13 0 # SB_LUT4 (LogicCell: dig2.leds_1_i[3]_LC_96)
set_location dig2.leds_1_i[3] 19 13 0 # SB_DFFE (LogicCell: dig2.leds_1_i[3]_LC_96)
set_location dig2.leds_cnst_3_1_.lcolreg10_i 22 16 1 # SB_LUT4 (LogicCell: lcolreg[0]_LC_97)
set_location lcolreg[0] 22 16 1 # SB_DFFE (LogicCell: lcolreg[0]_LC_97)
set_location dig2.leds_cnst_3_1_.lcolreg11_i 22 17 1 # SB_LUT4 (LogicCell: lcolreg[1]_LC_98)
set_location lcolreg[1] 22 17 1 # SB_DFFE (LogicCell: lcolreg[1]_LC_98)
set_location dig2.leds_cnst_3_1_.lcolreg12_i 22 17 7 # SB_LUT4 (LogicCell: lcolreg[2]_LC_99)
set_location lcolreg[2] 22 17 7 # SB_DFFE (LogicCell: lcolreg[2]_LC_99)
set_location dig2.leds_cnst_3_1_.lcolreg13_i 22 18 5 # SB_LUT4 (LogicCell: lcolreg[3]_LC_100)
set_location lcolreg[3] 22 18 5 # SB_DFFE (LogicCell: lcolreg[3]_LC_100)
set_location dig2.leds_cnst_3_1_.m11 20 12 3 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m11_LC_101)
set_location dig2.leds_cnst_3_1_.m13 20 12 4 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m13_LC_102)
set_location dig2.leds_cnst_3_1_.m23_am 20 13 3 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m23_am_LC_103)
set_location dig2.leds_cnst_3_1_.m23_bm 20 13 7 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m23_bm_LC_104)
set_location dig2.leds_cnst_3_1_.m29_am 20 13 4 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m29_am_LC_105)
set_location dig2.leds_cnst_3_1_.m29_bm 20 13 0 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m29_bm_LC_106)
set_location dig2.leds_cnst_3_1_.m30_ns 19 13 5 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m30_ns_LC_107)
set_location dig2.leds_cnst_3_1_.m30_ns_1 20 13 1 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m30_ns_1_LC_108)
set_location dig2.leds_cnst_3_1_.m34_am 20 14 5 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m34_am_LC_109)
set_location dig2.leds_cnst_3_1_.m34_bm 20 14 1 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m34_bm_LC_110)
set_location dig2.leds_cnst_3_1_.m34_ns 20 14 6 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m34_ns_LC_111)
set_location dig2.leds_cnst_3_1_.m37 20 13 6 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m37_LC_112)
set_location dig2.leds_cnst_3_1_.m8_am 21 13 0 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m8_am_LC_113)
set_location dig2.leds_cnst_3_1_.m8_bm 21 13 7 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m8_bm_LC_114)
set_location dig2.leds_cnst_3_1_.m8_ns 21 13 1 # SB_LUT4 (LogicCell: dig2.leds_cnst_3_1_.m8_ns_LC_115)
set_location dig2.un1_leds114 20 12 2 # SB_LUT4 (LogicCell: dig2.un1_leds114_LC_116)
set_location masterreset_ibuf_RNIKP26 15 16 2 # SB_LUT4 (LogicCell: masterreset_ibuf_RNIKP26_LC_117)
set_location olddn_RNI1J1R 20 10 2 # SB_LUT4 (LogicCell: olddn_RNI1J1R_LC_118)
set_location olddn_RNISQ7L1 21 10 3 # SB_LUT4 (LogicCell: olddn_RNISQ7L1_LC_119)
set_location olddn_RNISQ7L1_0 21 10 0 # SB_LUT4 (LogicCell: olddn_RNISQ7L1_0_LC_120)
set_location olddn_RNISQ7L1_1 21 10 5 # SB_LUT4 (LogicCell: olddn_RNISQ7L1_1_LC_121)
set_location olddn_RNISQ7L1_2 21 10 6 # SB_LUT4 (LogicCell: olddn_RNISQ7L1_2_LC_122)
set_location olddn_RNISQ7L1_3 20 11 1 # SB_LUT4 (LogicCell: olddn_RNISQ7L1_3_LC_123)
set_location olddn_RNISQ7L1_4 21 10 7 # SB_LUT4 (LogicCell: olddn_RNISQ7L1_4_LC_124)
set_location oldup_RNIR76Q 21 10 1 # SB_LUT4 (LogicCell: oldup_RNIR76Q_LC_125)
set_location un1_delayConstant_cry_0_c_RNO 21 10 2 # SB_LUT4 (LogicCell: un1_delayConstant_cry_0_c_RNO_LC_126)
set_location un1_delayConstant_cry_1_0_c_RNIP5KD2 21 11 2 # SB_LUT4 (LogicCell: un1_delayConstant_cry_1_0_c_RNIP5KD2_LC_127)
set_location un1_delayConstant_cry_2_0_c 21 11 2 # SB_CARRY (LogicCell: un1_delayConstant_cry_1_0_c_RNIP5KD2_LC_127)
set_location un1_delayConstant_cry_3_0_c_RNITF062 21 11 4 # SB_LUT4 (LogicCell: un1_delayConstant_cry_3_0_c_RNITF062_LC_128)
set_location un1_delayConstant_cry_4_0_c 21 11 4 # SB_CARRY (LogicCell: un1_delayConstant_cry_3_0_c_RNITF062_LC_128)
set_location un1_delayConstant_cry_4_0_c_RNIVK6A2 21 11 5 # SB_LUT4 (LogicCell: un1_delayConstant_cry_4_0_c_RNIVK6A2_LC_129)
set_location un1_delayConstant_cry_5_0_c 21 11 5 # SB_CARRY (LogicCell: un1_delayConstant_cry_4_0_c_RNIVK6A2_LC_129)
set_location un1_delayConstant_cry_5_0_c_RNI1QCE2 21 11 6 # SB_LUT4 (LogicCell: un1_delayConstant_cry_5_0_c_RNI1QCE2_LC_130)
set_location un1_delayConstant_cry_6_0_c 21 11 6 # SB_CARRY (LogicCell: un1_delayConstant_cry_5_0_c_RNI1QCE2_LC_130)
set_location arse.apuresetoutreg_THRU_LUT4_0 32 6 6 # SB_LUT4 (LogicCell: arse.apuresetoutreg_LC_131)
set_location arse.apuresetoutreg 32 6 6 # SB_DFFN (LogicCell: arse.apuresetoutreg_LC_131)
set_location arse.diveight.counter_RNIAAKM1_1_arse.diveight.counter_2_REP_LUT4_0 31 6 1 # SB_LUT4 (LogicCell: arse.diveight.counter[2]_LC_132)
set_location arse.diveight.counter[2] 31 6 1 # SB_DFF (LogicCell: arse.diveight.counter[2]_LC_132)
set_location arse.divseven.seven_THRU_LUT4_0 26 7 6 # SB_LUT4 (LogicCell: arse.divseven.seven_LC_133)
set_location arse.divseven.seven 26 7 6 # SB_DFFE (LogicCell: arse.divseven.seven_LC_133)
set_location arses.clock_out_RNIR6ER_arses.clock_out_REP_LUT4_0 22 9 5 # SB_LUT4 (LogicCell: arses.clock_out_LC_134)
set_location arses.clock_out 22 9 5 # SB_DFF (LogicCell: arses.clock_out_LC_134)
set_location debouncedn.out_e_0_THRU_LUT4_0 19 10 0 # SB_LUT4 (LogicCell: debouncedn.out_e_0_LC_135)
set_location debouncedn.out_e_0 19 10 0 # SB_DFFE (LogicCell: debouncedn.out_e_0_LC_135)
set_location debounceup.out_e_0_THRU_LUT4_0 26 10 5 # SB_LUT4 (LogicCell: debounceup.out_e_0_LC_136)
set_location debounceup.out_e_0 26 10 5 # SB_DFFE (LogicCell: debounceup.out_e_0_LC_136)
set_location delayConstant_RNITQQ12_0_delayConstant_0_REP_LUT4_0 21 12 1 # SB_LUT4 (LogicCell: delayConstant[0]_LC_137)
set_location delayConstant[0] 21 12 1 # SB_DFFSR (LogicCell: delayConstant[0]_LC_137)
set_location olddn_THRU_LUT4_0 20 10 0 # SB_LUT4 (LogicCell: olddn_LC_138)
set_location olddn 20 10 0 # SB_DFF (LogicCell: olddn_LC_138)
set_location oldup_THRU_LUT4_0 21 10 4 # SB_LUT4 (LogicCell: oldup_LC_139)
set_location oldup 21 10 4 # SB_DFF (LogicCell: oldup_LC_139)
set_location delayConstant_2_THRU_LUT4_0 22 11 0 # SB_LUT4 (LogicCell: delayConstant[2]_LC_140)
set_location delayConstant[2] 22 11 0 # SB_DFFSR (LogicCell: delayConstant[2]_LC_140)
set_location delayConstant_fast_2_THRU_LUT4_0 22 11 5 # SB_LUT4 (LogicCell: delayConstant_fast[2]_LC_141)
set_location delayConstant_fast[2] 22 11 5 # SB_DFFSR (LogicCell: delayConstant_fast[2]_LC_141)
set_location delayConstant_4_THRU_LUT4_0 21 12 5 # SB_LUT4 (LogicCell: delayConstant[4]_LC_142)
set_location delayConstant[4] 21 12 5 # SB_DFFSR (LogicCell: delayConstant[4]_LC_142)
set_location delayConstant_fast_4_THRU_LUT4_0 22 11 2 # SB_LUT4 (LogicCell: delayConstant_fast[4]_LC_143)
set_location delayConstant_fast[4] 22 11 2 # SB_DFFSR (LogicCell: delayConstant_fast[4]_LC_143)
set_location delayConstant_5_THRU_LUT4_0 21 12 4 # SB_LUT4 (LogicCell: delayConstant[5]_LC_144)
set_location delayConstant[5] 21 12 4 # SB_DFFSS (LogicCell: delayConstant[5]_LC_144)
set_location delayConstant_fast_5_THRU_LUT4_0 22 11 4 # SB_LUT4 (LogicCell: delayConstant_fast[5]_LC_145)
set_location delayConstant_fast[5] 22 11 4 # SB_DFFSS (LogicCell: delayConstant_fast[5]_LC_145)
set_location delayConstant_6_THRU_LUT4_0 21 12 7 # SB_LUT4 (LogicCell: delayConstant[6]_LC_146)
set_location delayConstant[6] 21 12 7 # SB_DFFSR (LogicCell: delayConstant[6]_LC_146)
set_location delayConstant_fast_6_THRU_LUT4_0 22 11 1 # SB_LUT4 (LogicCell: delayConstant_fast[6]_LC_147)
set_location delayConstant_fast[6] 22 11 1 # SB_DFFSR (LogicCell: delayConstant_fast[6]_LC_147)
set_location debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0 22 8 1 # SB_LUT4 (LogicCell: debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0_LC_148)
set_location debounceconsolereset.un3_counter_cry_2_c 22 8 1 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0_LC_148)
set_location debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0 22 8 2 # SB_LUT4 (LogicCell: debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0_LC_149)
set_location debounceconsolereset.un3_counter_cry_3_c 22 8 2 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0_LC_149)
set_location GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0 16 1 2 # SB_LUT4 (LogicCell: GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0_LC_150)
set_location arses.un2_counter_cry_1_c 23 10 0 # SB_CARRY (LogicCell: arses.un2_counter_cry_1_c_LC_151)
set_location debounceconsolereset.un3_counter_cry_1_c 22 8 0 # SB_CARRY (LogicCell: debounceconsolereset.un3_counter_cry_1_c_LC_152)
set_location un1_delayConstant_cry_0_c 21 11 0 # SB_CARRY (LogicCell: un1_delayConstant_cry_0_c_LC_153)
set_location GND -1 -1 -1 # GND
set_io PACKAGEPIN_ibuf_gb_io 17 0 0 # ICE_GB_IO
set_io altreset_ibuf 0 4 0 # ICE_IO
set_io apusync_ibuf 33 2 0 # ICE_IO
set_io arse.diveight.io_0 33 5 0 # ICE_IO
set_io arse.divseven.io_0 33 10 1 # ICE_IO
set_io arse.divseven.io_0_RNIIG08 16 33 1 # ICE_GB
set_io arse.io_0 33 5 1 # ICE_IO
set_io arse.io_1 33 4 0 # ICE_IO
set_io consolereset_ibuf 11 33 1 # ICE_IO
set_io deldn_ibuf 10 33 1 # ICE_IO
set_io delup_ibuf 26 33 0 # ICE_IO
set_io lcol1_obuf 30 33 1 # ICE_IO
set_io lcol2_obuf 27 33 0 # ICE_IO
set_io lcol3_obuf 16 33 1 # ICE_IO
set_io lcol4_obuf 8 33 1 # ICE_IO
set_io led1_obuf 22 33 1 # ICE_IO
set_io led2_obuf 25 33 0 # ICE_IO
set_io led3_obuf 13 33 1 # ICE_IO
set_io led4_obuf 11 33 0 # ICE_IO
set_io led5_obuf 17 33 0 # ICE_IO
set_io led6_obuf 14 33 1 # ICE_IO
set_io led7_obuf 5 33 0 # ICE_IO
set_io led8_obuf 4 33 0 # ICE_IO
set_io masterreset_ibuf 28 33 1 # ICE_IO
set_io masterreset_ibuf_RNIKP26_0 0 16 1 # ICE_GB
set_io top_pll_nrtthrth.PLLOUTCORE_derived_clock_RNIRGL5 17 33 0 # ICE_GB
set_location top_pll_nrtthrth.top_pll_nrtthrth_inst 16 0 1 # SB_PLL40_CORE
set_location INV_arse.un1_io_0_1_g -1 -1 -1 # INV
set_location INV_PLLOUTCORE_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 23 31 5 # SB_LUT4 (LogicCell: LC_154)
