set_location CONSTANT_ONE_LUT4 14 6 6 #SB_LUT4
set_location arse.l2.un1_Q_arse.ddd.Q_REP_LUT4_0 16 22 2 #SB_LUT4
set_location arse.divseven.dout_nesr_0_THRU_LUT4_0 12 11 0 #SB_LUT4
set_location arse.diveight.dout_1_THRU_LUT4_0 32 24 4 #SB_LUT4
set_location arse.divseven.counter_ns_2_0_.m3_s 12 12 7 #SB_LUT4
set_location arse.diveight.counter[0] 31 24 5 #SB_DFF
set_location arse.arse.counter_RNO[1] 14 21 7 #SB_LUT4
set_location arse.divseven.counter_ns_2_0_.m4 12 12 3 #SB_LUT4
set_location arse.diveight.counter_ns_2_0_.m1 31 24 5 #SB_LUT4
set_location arse.divseven.seven 13 12 3 #SB_DFF
set_location arse.arse.counter_RNO[4] 13 20 2 #SB_LUT4
set_location arse.l1.N_21_0_i 32 25 3 #SB_LUT4
set_location arse.arse.counter[0] 14 21 1 #SB_DFFSS
set_location arse.diveight.dout[0] 32 23 6 #SB_DFFN
set_location arse.diveight.counter[1] 31 24 6 #SB_DFF
set_location arse.arse.counter_RNO[0] 14 21 1 #SB_LUT4
set_location arse.arse.counter[2] 13 20 5 #SB_DFFSR
set_location arse.divseven.dout[1] 11 12 2 #SB_DFFSR
set_location arse.divseven.counter[0] 12 12 3 #SB_DFF
set_location arse.divseven.dout_nesr_RNO_0[0] 12 12 1 #SB_LUT4
set_location arse.divseven.counter_ns_2_0_.m5 13 12 6 #SB_LUT4
set_location arse.diveight.dout_RNO[0] 32 23 6 #SB_LUT4
set_location arse.ddd.Q 16 22 2 #SB_DFFE
set_location arse.arse.counter[4] 13 20 2 #SB_DFFSS
set_location arse.divseven.counter[2] 12 12 5 #SB_DFF
set_location arse.arse.clock_out_RNO 15 21 5 #SB_LUT4
set_location mclkreset_ibuf_RNIFESD 12 19 3 #SB_LUT4
set_location arse.ddd.Q_RNO 15 21 7 #SB_LUT4
set_location arse.divseven.seven_RNO_0 13 12 2 #SB_LUT4
set_location arse.l2.un1_Q 16 23 0 #SB_LUT4
set_location arse.divseven.seven_RNO 13 12 3 #SB_LUT4
set_location arse.divseven.dout_nesr_RNO[0] 12 12 2 #SB_LUT4
set_location arse.diveight.dout[1] 32 24 4 #SB_DFFSR
set_location arse.diveight.counter_ns_2_0_.m6 31 24 1 #SB_LUT4
set_location arse.arse.counter_RNILCUV[1] 14 20 5 #SB_LUT4
set_location arse.diveight.counter[2] 31 24 1 #SB_DFF
set_location arse.arse.counter_RNO[3] 13 20 6 #SB_LUT4
set_location arse.arse.counter[1] 14 21 7 #SB_DFFSS
set_location arse.divseven.dout_nesr[0] 12 11 0 #SB_DFFNESR
set_location arse.divseven.counter[1] 13 12 7 #SB_DFF
set_location arse.arse.counter_RNIHKTF1[1] 14 20 1 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location arse.divseven.counter_ns_2_0_.m10 12 12 5 #SB_LUT4
set_location arse.diveight.counter_ns_2_0_.m3 31 24 6 #SB_LUT4
set_location arse.arse.counter_RNIRIUV[4] 14 20 3 #SB_LUT4
set_location arse.arse.counter[3] 13 20 6 #SB_DFFSR
set_location arse.divseven.dout_RNO[1] 11 12 2 #SB_LUT4
set_location arse.divseven.io_0_RNIIG08 32 25 4 #SB_LUT4
set_location arse.divseven.counter_ns_2_0_.m6 13 12 7 #SB_LUT4
set_location arse.divseven.counter_ns_2_0_.m9 12 12 4 #SB_LUT4
set_location arse.arse.counter_RNO[2] 13 20 5 #SB_LUT4
set_location arse.arse.clock_out 15 21 5 #SB_DFF
set_io led4 D6
set_io lcol3 A6
set_io led5 A7
set_io lcol2 D10
set_io led6 C7
set_io led2 A10
set_io lcol1 A12
set_io cpuclk C14
set_io apureset C12
set_io reset C6
set_io mclkreset A11
set_io led7 A4
set_io led3 D7
set_io lcol4 C5
set_io cpureset D12
set_io apusync D14
set_io PACKAGEPIN P7
set_io led8 C4
set_io led1 C10
set_io apuclk B14
