set_location IN_MUX_bfv_21_11_0_ 21 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_22_8_0_ 22 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_10_0_ 23 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_11_0_ 23 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_8_0_ 24 8 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 23 31 5 #SB_LUT4
set_location GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0 16 1 2 #SB_LUT4
set_location debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0 22 8 2 #SB_LUT4
set_location debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0 22 8 1 #SB_LUT4
set_location delayConstant_fast_6_THRU_LUT4_0 22 11 1 #SB_LUT4
set_location delayConstant_6_THRU_LUT4_0 21 12 7 #SB_LUT4
set_location delayConstant_fast_5_THRU_LUT4_0 22 11 4 #SB_LUT4
set_location delayConstant_5_THRU_LUT4_0 21 12 4 #SB_LUT4
set_location delayConstant_fast_4_THRU_LUT4_0 22 11 2 #SB_LUT4
set_location delayConstant_4_THRU_LUT4_0 21 12 5 #SB_LUT4
set_location delayConstant_fast_2_THRU_LUT4_0 22 11 5 #SB_LUT4
set_location delayConstant_2_THRU_LUT4_0 22 11 0 #SB_LUT4
set_location oldup_THRU_LUT4_0 21 10 4 #SB_LUT4
set_location olddn_THRU_LUT4_0 20 10 0 #SB_LUT4
set_location delayConstant_RNITQQ12_0_delayConstant_0_REP_LUT4_0 21 12 1 #SB_LUT4
set_location debounceup.out_e_0_THRU_LUT4_0 26 10 5 #SB_LUT4
set_location debouncedn.out_e_0_THRU_LUT4_0 19 10 0 #SB_LUT4
set_location arses.clock_out_RNIR6ER_arses.clock_out_REP_LUT4_0 22 9 5 #SB_LUT4
set_location arse.divseven.seven_THRU_LUT4_0 26 7 6 #SB_LUT4
set_location arse.diveight.counter_RNIAAKM1_1_arse.diveight.counter_2_REP_LUT4_0 31 6 1 #SB_LUT4
set_location arse.apuresetoutreg_THRU_LUT4_0 32 6 6 #SB_LUT4
set_location olddn_RNI1J1R 20 10 2 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m34_ns 20 14 6 #SB_LUT4
set_location arse.cpuresetcount[0] 24 8 0 #SB_DFFNSR
set_location arses.counter_RNO[3] 23 10 2 #SB_LUT4
set_location arse.divseven.counter[1] 26 8 3 #SB_DFF
set_location arse.cpuresetoutreg 23 8 4 #SB_DFFNSR
set_location arse.cpuresetcount_RNO[6] 24 8 6 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m8_am 21 13 0 #SB_LUT4
set_location delayConstant_fast[0] 21 9 1 #SB_DFFSR
set_location arses.un2_counter_cry_13_c 23 11 4 #SB_CARRY
set_location arse.divseven.counter_ns_2_0_.N_8_i 26 8 0 #SB_LUT4
set_location arse.diveight.dout[0] 32 6 5 #SB_DFFN
set_location delayConstant[3] 21 11 3 #SB_DFFSR
set_location debounceconsolereset.counter_RNO[3] 22 8 5 #SB_LUT4
set_location arses.counter[6] 23 10 5 #SB_DFFSR
set_location arse.diveight.counter_RNIAAKM1[1] 32 5 0 #SB_LUT4
set_location un1_delayConstant_cry_1_0_c 21 11 1 #SB_CARRY
set_location dig2.leds_cnst_3_1_.m13 20 12 4 #SB_LUT4
set_location arse.divseven.dout[1] 32 9 4 #SB_DFF
set_location arse.divseven.counter_ns_2_0_.N_4_i 26 8 2 #SB_LUT4
set_location arse.apusynclatched_RNO 32 4 3 #SB_LUT4
set_location col[0] 21 13 4 #SB_DFF
set_location arse.cpuresetcount[5] 24 8 5 #SB_DFFNSR
set_location dig1.leds_cnst_3_1_.m11x_i_o2 21 14 4 #SB_LUT4
set_location arses.counter[10] 23 11 1 #SB_DFFSR
set_location arses.counter[1] 21 9 7 #SB_DFFSS
set_location arse.un1_cpuresetcount_1_cry_3_c 24 8 3 #SB_CARRY
set_location arse.divseven.counter[2] 26 8 0 #SB_DFF
set_location arse.cpuresetcount_RNO[3] 24 8 3 #SB_LUT4
set_location debounceconsolereset.un3_counter_cry_1_c 22 8 0 #SB_CARRY
set_location arse.cpuclkreset_RNO 30 7 6 #SB_LUT4
set_location masterreset_ibuf_RNIKP26 15 16 2 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m37 22 14 6 #SB_LUT4
set_location arse.cpuresetoutreg_RNO 23 8 4 #SB_LUT4
set_location arse.cpuresetcount[2] 24 8 2 #SB_DFFNSR
set_location arses.counter_RNO[5] 23 10 4 #SB_LUT4
set_location arses.counter_RNO[13] 23 11 4 #SB_LUT4
set_location arse.cpuresetoutreg_RNO_6 23 8 1 #SB_LUT4
set_location arse.cpuresetcount_RNO[4] 24 8 4 #SB_LUT4
set_location lcolreg[0] 22 16 1 #SB_DFFE
set_location un1_delayConstant_cry_3_0_c_RNITF062 21 11 4 #SB_LUT4
set_location olddn_RNISQ7L1_3 20 11 1 #SB_LUT4
set_location un1_delayConstant_cry_2_0_c 21 11 2 #SB_CARRY
set_location dig1.leds_1_i_RNO[1] 22 15 2 #SB_LUT4
set_location arses.counter_RNO[14] 23 11 5 #SB_LUT4
set_location arse.divseven.dout_RNO_0[0] 27 8 2 #SB_LUT4
set_location arse.cpuresetoutreg_RNO_1 24 7 5 #SB_LUT4
set_location dig2.leds_1_i_RNO[2] 19 13 6 #SB_LUT4
set_location dig2.leds_1_i[2] 19 13 6 #SB_DFFE
set_location dig1.leds_cnst_3_1_.m23_bm 22 12 0 #SB_LUT4
set_location delayConstant_fast[2] 22 11 5 #SB_DFFSR
set_location un1_delayConstant_cry_4_0_c_RNIVK6A2 21 11 5 #SB_LUT4
set_location un1_delayConstant_cry_0_c_RNO 21 10 2 #SB_LUT4
set_location dig2.leds_cnst_3_1_.lcolreg13_i 22 18 5 #SB_LUT4
set_location dig2.leds_cnst_3_1_.lcolreg12_i 22 17 7 #SB_LUT4
set_location delayConstant[0] 21 12 1 #SB_DFFSR
set_location debounceconsolereset.counter_RNO[4] 22 8 3 #SB_LUT4
set_location arse.diveight.counter_ns_2_0_.m1 31 6 5 #SB_LUT4
set_location debounceconsolereset.counter[2] 22 8 7 #SB_DFF
set_location arses.clock_out_RNIR6ER 21 13 3 #SB_LUT4
set_location arses.un2_counter_cry_12_c 23 11 3 #SB_CARRY
set_location dig2.leds_cnst_3_1_.m30_ns 19 13 5 #SB_LUT4
set_location debounceconsolereset.counter_RNO[1] 22 9 4 #SB_LUT4
set_location arses.counter[4] 23 10 3 #SB_DFFSS
set_location arse.apusynclatched 32 4 3 #SB_DFFN
set_location olddn_RNISQ7L1 21 10 3 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m11 20 12 3 #SB_LUT4
set_location col_RNO[0] 21 13 4 #SB_LUT4
set_location arse.diveight.counter[1] 31 6 6 #SB_DFF
set_location arse.cpuresetcount[7] 24 8 7 #SB_DFFNSR
set_location arses.un2_counter_cry_7_c 23 10 6 #SB_CARRY
set_location arses.un2_counter_cry_11_c 23 11 2 #SB_CARRY
set_location arses.counter_RNO[0] 22 11 3 #SB_LUT4
set_location arses.counter[12] 23 11 3 #SB_DFFSR
set_location arse.divseven.counter[0] 26 8 2 #SB_DFF
set_location arse.cpuresetcount_RNO[1] 24 8 1 #SB_LUT4
set_location olddn 20 10 0 #SB_DFF
set_location arse.un1_cpuresetcount_1_cry_4_c 24 8 4 #SB_CARRY
set_location olddn_RNISQ7L1_4 21 10 7 #SB_LUT4
set_location dig2.leds_cnst_3_1_.lcolreg10_i 22 16 1 #SB_LUT4
set_location dig1.un1_leds114 22 14 2 #SB_LUT4
set_location arse.doingseven 23 7 7 #SB_DFFNSR
set_location dig2.leds_cnst_3_1_.m34_bm 20 14 1 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m34_am 21 14 5 #SB_LUT4
set_location dig1.leds_1_i[3] 22 15 3 #SB_DFFE
set_location arses.counter_RNO[7] 23 10 6 #SB_LUT4
set_location arses.counter_RNO[11] 23 11 2 #SB_LUT4
set_location arse.cpuresetoutreg_RNO_4 24 7 4 #SB_LUT4
set_location lcolreg[2] 22 17 7 #SB_DFFE
set_location dig2.leds_cnst_3_1_.m23_bm 20 13 7 #SB_LUT4
set_location dig2.leds_1_i_RNO[1] 19 12 0 #SB_LUT4
set_location delayConstant_RNO[3] 21 11 3 #SB_LUT4
set_location debounceconsolereset.counter_RNINST81[4] 22 9 1 #SB_LUT4
set_location un1_delayConstant_cry_0_c 21 11 0 #SB_CARRY
set_location olddn_RNISQ7L1_1 21 10 5 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m34_am 20 14 5 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m23_am 20 13 3 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m34_ns 21 14 6 #SB_LUT4
set_location delayConstant[5] 21 12 4 #SB_DFFSS
set_location arse.un1_cpuresetcount_1_cry_6_c 24 8 6 #SB_CARRY
set_location un1_delayConstant_cry_6_0_c 21 11 6 #SB_CARRY
set_location dig1.leds_cnst_3_1_.m29_am 22 14 4 #SB_LUT4
set_location dig1.leds_1_i_RNO[3] 22 15 3 #SB_LUT4
set_location debouncedn.out_cnv 22 10 4 #SB_LUT4
set_location arse.doingseven_RNO_0 24 7 1 #SB_LUT4
set_location delayConstant_fast[4] 22 11 2 #SB_DFFSR
set_location debounceconsolereset.un3_counter_cry_3_c 22 8 2 #SB_CARRY
set_location arses.counter_RNIOKH[1] 23 9 4 #SB_LUT4
set_location arse.un1_cpuresetcount_1_cry_1_c 24 8 1 #SB_CARRY
set_location oldup 21 10 4 #SB_DFF
set_location dig1.leds_cnst_3_1_.m8_bm 22 12 6 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m29_bm 22 13 4 #SB_LUT4
set_location delayConstant[2] 22 11 0 #SB_DFFSR
set_location debounceconsolereset.counter_RNO[2] 22 8 7 #SB_LUT4
set_location arses.counter_RNO[8] 23 10 7 #SB_LUT4
set_location arses.counter_RNIOS0A[14] 23 9 6 #SB_LUT4
set_location arses.counter[7] 23 10 6 #SB_DFFSR
set_location arse.diveight.counter_ns_2_0_.m3 31 6 6 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m8_am 22 13 0 #SB_LUT4
set_location debounceconsolereset.counter[4] 22 8 3 #SB_DFF
set_location arse.divseven.dout[0] 27 8 3 #SB_DFFN
set_location col[1] 21 13 5 #SB_DFF
set_location arse.un1_cpuresetcount_1_cry_0_c 24 8 0 #SB_CARRY
set_location arse.doingseven_RNO 23 7 7 #SB_LUT4
set_location arse.divseven.dout_RNO[1] 32 9 4 #SB_LUT4
set_location arse.cpuresetcount[4] 24 8 4 #SB_DFFNSR
set_location debounceconsolereset.un3_counter_cry_2_c 22 8 1 #SB_CARRY
set_location arses.counter_RNI1L5[2] 22 10 2 #SB_LUT4
set_location arses.counter[2] 23 10 1 #SB_DFFSR
set_location arse.cpuresetcount_RNO[2] 24 8 2 #SB_LUT4
set_location un1_delayConstant_cry_4_0_c 21 11 4 #SB_CARRY
set_location dig1.leds_cnst_3_1_.m13 22 13 2 #SB_LUT4
set_location arses.un2_counter_cry_1_c 23 10 0 #SB_CARRY
set_location un1_delayConstant_cry_5_0_c_RNI1QCE2 21 11 6 #SB_LUT4
set_location arses.un2_counter_cry_9_c 23 11 0 #SB_CARRY
set_location arses.clock_out 22 9 5 #SB_DFF
set_location arse.cpuresetcount[1] 24 8 1 #SB_DFFNSR
set_location dig2.un1_leds114 20 12 2 #SB_LUT4
set_location arses.counter_RNO[2] 23 10 1 #SB_LUT4
set_location arses.counter_RNO[12] 23 11 3 #SB_LUT4
set_location arse.un1_cpuresetcount_1_cry_2_c 24 8 2 #SB_CARRY
set_location arse.cpuresetoutreg_RNO_7 24 9 6 #SB_LUT4
set_location arse.cpuresetcount_RNO[7] 24 8 7 #SB_LUT4
set_location arse.cpuclkreset_RNO_0 24 7 7 #SB_LUT4
set_location lcolreg[1] 22 17 1 #SB_DFFE
set_location dig1.leds_cnst_3_1_.m30_ns 22 14 5 #SB_LUT4
set_location un1_delayConstant_cry_5_0_c 21 11 5 #SB_CARRY
set_location olddn_RNISQ7L1_2 21 10 6 #SB_LUT4
set_location arses.un2_counter_cry_10_c 23 11 1 #SB_CARRY
set_location arse.divseven.counter_ns_2_0_.N_5_i 26 8 3 #SB_LUT4
set_location dig1.leds_1_i[1] 22 15 2 #SB_DFFE
set_location arses.counter[8] 23 10 7 #SB_DFFSR
set_location arse.un1_cpuresetcount_1_cry_5_c 24 8 5 #SB_CARRY
set_location arse.divseven.dout_RNO_0[1] 27 8 7 #SB_LUT4
set_location arse.diveight.dout_RNO[0] 32 6 5 #SB_LUT4
set_location arse.cpuresetoutreg_RNO_2 24 9 4 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m8_ns 21 13 1 #SB_LUT4
set_location dig2.leds_1_i_RNO[3] 19 13 0 #SB_LUT4
set_location dig2.leds_1_i[3] 19 13 0 #SB_DFFE
set_location delayConstant_RNO[1] 21 11 1 #SB_LUT4
set_location debounceup.out_e_0 26 10 5 #SB_DFFE
set_location debounceconsolereset.out_RNO 22 10 5 #SB_LUT4
set_location arses.un2_counter_cry_2_c 23 10 1 #SB_CARRY
set_location oldup_RNIR76Q 21 10 1 #SB_LUT4
set_location delayConstant[7] 21 11 7 #SB_DFFSR
set_location debounceconsolereset.counter[1] 22 9 4 #SB_DFF
set_location arses.un2_counter_cry_5_c 23 10 4 #SB_CARRY
set_location delayConstant_fast[6] 22 11 1 #SB_DFFSR
set_location arse.divseven.seven_RNO 26 8 5 #SB_LUT4
set_location arse.diveight.dout[1] 32 5 0 #SB_DFF
set_location debounceconsolereset.counter_RNO[0] 22 9 2 #SB_LUT4
set_location arses.counter[5] 23 10 4 #SB_DFFSR
set_location arses.counter[14] 23 11 5 #SB_DFFSR
set_location dig2.leds_cnst_3_1_.m37 20 13 6 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m29_am 20 13 4 #SB_LUT4
set_location col_RNO[1] 21 13 5 #SB_LUT4
set_location arses.un2_counter_cry_4_c 23 10 3 #SB_CARRY
set_location arse.diveight.counter[0] 31 6 5 #SB_DFF
set_location arse.cpuresetcount[6] 24 8 6 #SB_DFFNSR
set_location arse.cpuclkreset 30 7 6 #SB_DFFNSR
set_location debounceconsolereset.out_RNI1B6C 29 8 1 #SB_LUT4
set_location arses.counter_RNO[1] 21 9 7 #SB_LUT4
set_location arses.counter[11] 23 11 2 #SB_DFFSR
set_location arses.counter[0] 22 11 3 #SB_DFFSS
set_location arse.cpuresetcount_RNO[0] 24 8 0 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m11 22 13 3 #SB_LUT4
set_location arse.cpuresetcount_RNIB4QP[0] 24 7 3 #SB_LUT4
set_location un1_delayConstant_cry_1_0_c_RNIP5KD2 21 11 2 #SB_LUT4
set_location debounceconsolereset.out 22 10 5 #SB_DFF
set_location arses.counter_RNI04C4[9] 23 9 5 #SB_LUT4
set_location arses.clock_out_RNIR6ER_0 22 9 0 #SB_LUT4
set_location arse.divseven.seven 26 7 6 #SB_DFFE
set_location arse.cpuresetcount_RNIATKJ1[7] 24 7 6 #SB_LUT4
set_location arse.cpuresetcount[3] 24 8 3 #SB_DFFNSR
set_location dig1.leds_1_i[2] 22 15 7 #SB_DFFE
set_location delayConstant_RNITQQ12[0] 21 9 1 #SB_LUT4
set_location arses.un2_counter_cry_6_c 23 10 5 #SB_CARRY
set_location arses.counter_RNO[4] 23 10 3 #SB_LUT4
set_location arses.counter_RNO[10] 23 11 1 #SB_LUT4
set_location arse.cpuresetoutreg_RNO_5 24 9 7 #SB_LUT4
set_location arse.cpuresetcount_RNO[5] 24 8 5 #SB_LUT4
set_location lcolreg[3] 22 18 5 #SB_DFFE
set_location dig2.leds_cnst_3_1_.m30_ns_1 20 13 1 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m29_bm 20 13 0 #SB_LUT4
set_location olddn_RNISQ7L1_0 21 10 0 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m34_bm 21 14 2 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m23_am 22 14 0 #SB_LUT4
set_location delayConstant[4] 21 12 5 #SB_DFFSR
set_location dig1.leds_1_i_RNO[2] 22 15 7 #SB_LUT4
set_location arse.cpuresetoutreg_RNO_0 23 8 3 #SB_LUT4
set_location dig2.leds_1_i[1] 19 12 0 #SB_DFFE
set_location delayConstant_fast[5] 22 11 4 #SB_DFFSS
set_location delayConstant_RNO[7] 21 11 7 #SB_LUT4
set_location delayConstant[1] 21 11 1 #SB_DFFSR
set_location debouncedn.out_cnv_1 22 9 7 #SB_LUT4
set_location arses.counter_RNO[9] 23 11 0 #SB_LUT4
set_location dig2.leds_cnst_3_1_.lcolreg11_i 22 17 1 #SB_LUT4
set_location debounceconsolereset.counter[3] 22 8 5 #SB_DFF
set_location arses.un2_counter_cry_3_c 23 10 2 #SB_CARRY
set_location arse.divseven.dout_RNO[0] 27 8 3 #SB_LUT4
set_location dig1.leds_cnst_3_1_.m30_ns_1 22 13 5 #SB_LUT4
set_location arses.counter_RNIA58[5] 23 9 3 #SB_LUT4
set_location arses.counter[3] 23 10 2 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location un1_delayConstant_cry_3_0_c 21 11 3 #SB_CARRY
set_location dig1.leds_cnst_3_1_.m8_ns 22 13 1 #SB_LUT4
set_location arse.diveight.counter[2] 31 6 1 #SB_DFF
set_location arse.apuresetoutreg 32 6 6 #SB_DFFN
set_location arses.counter[13] 23 11 4 #SB_DFFSR
set_location arses.un2_counter_cry_8_c 23 10 7 #SB_CARRY
set_location arses.counter_RNO[6] 23 10 5 #SB_LUT4
set_location arses.counter[9] 23 11 0 #SB_DFFSR
set_location arse.cpuresetoutreg_RNO_3 23 8 2 #SB_LUT4
set_location dig2.leds_cnst_3_1_.m8_bm 21 13 7 #SB_LUT4
set_location delayConstant[6] 21 12 7 #SB_DFFSR
set_location debouncedn.out_e_0 19 10 0 #SB_DFFE
set_location debounceconsolereset.counter[0] 22 9 2 #SB_DFF
set_io masterreset C11
set_io led4 D6
set_io lcol3 A6
set_io led5 A7
set_io lcol2 D10
set_io led6 C7
set_io led2 A10
set_io lcol1 A12
set_io deldn A5
set_io cpuclk K14
set_io apureset J12
set_io altreset P1
set_io led7 A4
set_io led3 D7
set_io lcol4 C5
set_io delup A11
set_io cpureset K12
set_io apusync L12
set_io PACKAGEPIN P8
set_io led8 C4
set_io led1 C10
set_io consolereset C6
set_io apuclk H11
