ble_pack masterreset_ibuf_RNIKP26_LC_12_16_3 { masterreset_ibuf_RNIKP26 }
clb_pack LT_12_16 { masterreset_ibuf_RNIKP26_LC_12_16_3 }
set_location LT_12_16 12 16
ble_pack debouncedn.un3_counter_cry_1_c_LC_15_15_0 { debouncedn.un3_counter_cry_1_c }
ble_pack debouncedn.un3_counter_cry_1_THRU_LUT4_0_LC_15_15_1 { debouncedn.un3_counter_cry_1_THRU_LUT4_0, debouncedn.un3_counter_cry_2_c }
ble_pack debouncedn.un3_counter_cry_2_THRU_LUT4_0_LC_15_15_2 { debouncedn.un3_counter_cry_2_THRU_LUT4_0, debouncedn.un3_counter_cry_3_c }
ble_pack debouncedn.counter_4_LC_15_15_3 { debouncedn.counter_RNO[4], debouncedn.counter[4] }
clb_pack LT_15_15 { debouncedn.un3_counter_cry_1_c_LC_15_15_0, debouncedn.un3_counter_cry_1_THRU_LUT4_0_LC_15_15_1, debouncedn.un3_counter_cry_2_THRU_LUT4_0_LC_15_15_2, debouncedn.counter_4_LC_15_15_3 }
set_location LT_15_15 15 15
ble_pack GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0_LC_16_1_2 { GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0 }
clb_pack LT_16_1 { GB_BUFFER_PACKAGEPIN_0_c_g_THRU_LUT4_0_LC_16_1_2 }
set_location LT_16_1 16 1
ble_pack debouncedn.out_RNO_1_LC_16_14_2 { debouncedn.out_RNO_1 }
ble_pack debouncedn.out_RNO_0_LC_16_14_3 { debouncedn.out_RNO_0 }
ble_pack debouncedn.counter_1_LC_16_14_5 { debouncedn.counter_RNO[1], debouncedn.counter[1] }
clb_pack LT_16_14 { debouncedn.out_RNO_1_LC_16_14_2, debouncedn.out_RNO_0_LC_16_14_3, debouncedn.counter_1_LC_16_14_5 }
set_location LT_16_14 16 14
ble_pack debounceconsolereset.counter_0_LC_16_15_0 { debounceconsolereset.counter_RNO[0], debounceconsolereset.counter[0] }
ble_pack debouncedn.counter_RNIBTPA2_4_LC_16_15_1 { debouncedn.counter_RNIBTPA2[4] }
ble_pack debouncedn.counter_0_LC_16_15_2 { debouncedn.counter_RNO[0], debouncedn.counter[0] }
ble_pack debounceconsolereset.counter_1_LC_16_15_3 { debounceconsolereset.counter_RNO[1], debounceconsolereset.counter[1] }
ble_pack debounceconsolereset.out_RNO_1_LC_16_15_4 { debounceconsolereset.out_RNO_1 }
ble_pack debounceconsolereset.out_RNO_0_LC_16_15_5 { debounceconsolereset.out_RNO_0 }
ble_pack debouncedn.counter_3_LC_16_15_6 { debouncedn.counter_RNO[3], debouncedn.counter[3] }
ble_pack debouncedn.counter_2_LC_16_15_7 { debouncedn.counter_RNO[2], debouncedn.counter[2] }
clb_pack LT_16_15 { debounceconsolereset.counter_0_LC_16_15_0, debouncedn.counter_RNIBTPA2_4_LC_16_15_1, debouncedn.counter_0_LC_16_15_2, debounceconsolereset.counter_1_LC_16_15_3, debounceconsolereset.out_RNO_1_LC_16_15_4, debounceconsolereset.out_RNO_0_LC_16_15_5, debouncedn.counter_3_LC_16_15_6, debouncedn.counter_2_LC_16_15_7 }
set_location LT_16_15 16 15
ble_pack debounceconsolereset.out_LC_16_16_2 { debounceconsolereset.out_RNO, debounceconsolereset.out }
clb_pack LT_16_16 { debounceconsolereset.out_LC_16_16_2 }
set_location LT_16_16 16 16
ble_pack lcolreg_2_LC_16_17_1 { dig1.leds_cnst_3_1_.lcolreg12_i, lcolreg[2] }
ble_pack lcolreg_3_LC_16_17_3 { dig1.leds_cnst_3_1_.lcolreg13_i, lcolreg[3] }
clb_pack LT_16_17 { lcolreg_2_LC_16_17_1, lcolreg_3_LC_16_17_3 }
set_location LT_16_17 16 17
ble_pack debounceup.un3_counter_cry_1_c_LC_17_14_0 { debounceup.un3_counter_cry_1_c }
ble_pack debounceup.un3_counter_cry_1_THRU_LUT4_0_LC_17_14_1 { debounceup.un3_counter_cry_1_THRU_LUT4_0, debounceup.un3_counter_cry_2_c }
ble_pack debounceup.un3_counter_cry_2_THRU_LUT4_0_LC_17_14_2 { debounceup.un3_counter_cry_2_THRU_LUT4_0, debounceup.un3_counter_cry_3_c }
ble_pack debounceup.counter_4_LC_17_14_3 { debounceup.counter_RNO[4], debounceup.counter[4] }
ble_pack debounceup.counter_3_LC_17_14_4 { debounceup.counter_RNO[3], debounceup.counter[3] }
ble_pack debounceup.counter_2_LC_17_14_7 { debounceup.counter_RNO[2], debounceup.counter[2] }
clb_pack LT_17_14 { debounceup.un3_counter_cry_1_c_LC_17_14_0, debounceup.un3_counter_cry_1_THRU_LUT4_0_LC_17_14_1, debounceup.un3_counter_cry_2_THRU_LUT4_0_LC_17_14_2, debounceup.counter_4_LC_17_14_3, debounceup.counter_3_LC_17_14_4, debounceup.counter_2_LC_17_14_7 }
set_location LT_17_14 17 14
ble_pack debounceconsolereset.un3_counter_cry_1_c_LC_17_15_0 { debounceconsolereset.un3_counter_cry_1_c }
ble_pack debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0_LC_17_15_1 { debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0, debounceconsolereset.un3_counter_cry_2_c }
ble_pack debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0_LC_17_15_2 { debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0, debounceconsolereset.un3_counter_cry_3_c }
ble_pack debounceconsolereset.counter_4_LC_17_15_3 { debounceconsolereset.counter_RNO[4], debounceconsolereset.counter[4] }
ble_pack arses.clock_out_RNIR6ER_0_LC_17_15_4 { arses.clock_out_RNIR6ER_0 }
ble_pack debounceconsolereset.counter_RNINST81_4_LC_17_15_5 { debounceconsolereset.counter_RNINST81[4] }
ble_pack debounceconsolereset.counter_3_LC_17_15_6 { debounceconsolereset.counter_RNO[3], debounceconsolereset.counter[3] }
ble_pack debounceconsolereset.counter_2_LC_17_15_7 { debounceconsolereset.counter_RNO[2], debounceconsolereset.counter[2] }
clb_pack LT_17_15 { debounceconsolereset.un3_counter_cry_1_c_LC_17_15_0, debounceconsolereset.un3_counter_cry_1_THRU_LUT4_0_LC_17_15_1, debounceconsolereset.un3_counter_cry_2_THRU_LUT4_0_LC_17_15_2, debounceconsolereset.counter_4_LC_17_15_3, arses.clock_out_RNIR6ER_0_LC_17_15_4, debounceconsolereset.counter_RNINST81_4_LC_17_15_5, debounceconsolereset.counter_3_LC_17_15_6, debounceconsolereset.counter_2_LC_17_15_7 }
set_location LT_17_15 17 15
ble_pack arses.un2_counter_cry_1_c_LC_17_16_0 { arses.un2_counter_cry_1_c }
ble_pack arses.counter_2_LC_17_16_1 { arses.counter_RNO[2], arses.counter[2], arses.un2_counter_cry_2_c }
ble_pack arses.counter_3_LC_17_16_2 { arses.counter_RNO[3], arses.counter[3], arses.un2_counter_cry_3_c }
ble_pack arses.counter_4_LC_17_16_3 { arses.counter_RNO[4], arses.counter[4], arses.un2_counter_cry_4_c }
ble_pack arses.counter_5_LC_17_16_4 { arses.counter_RNO[5], arses.counter[5], arses.un2_counter_cry_5_c }
ble_pack arses.counter_6_LC_17_16_5 { arses.counter_RNO[6], arses.counter[6], arses.un2_counter_cry_6_c }
ble_pack arses.counter_7_LC_17_16_6 { arses.counter_RNO[7], arses.counter[7], arses.un2_counter_cry_7_c }
ble_pack arses.counter_8_LC_17_16_7 { arses.counter_RNO[8], arses.counter[8], arses.un2_counter_cry_8_c }
clb_pack LT_17_16 { arses.un2_counter_cry_1_c_LC_17_16_0, arses.counter_2_LC_17_16_1, arses.counter_3_LC_17_16_2, arses.counter_4_LC_17_16_3, arses.counter_5_LC_17_16_4, arses.counter_6_LC_17_16_5, arses.counter_7_LC_17_16_6, arses.counter_8_LC_17_16_7 }
set_location LT_17_16 17 16
ble_pack arses.counter_9_LC_17_17_0 { arses.counter_RNO[9], arses.counter[9], arses.un2_counter_cry_9_c }
ble_pack arses.counter_10_LC_17_17_1 { arses.counter_RNO[10], arses.counter[10], arses.un2_counter_cry_10_c }
ble_pack arses.counter_11_LC_17_17_2 { arses.counter_RNO[11], arses.counter[11], arses.un2_counter_cry_11_c }
ble_pack arses.counter_12_LC_17_17_3 { arses.counter_RNO[12], arses.counter[12], arses.un2_counter_cry_12_c }
ble_pack arses.counter_13_LC_17_17_4 { arses.counter_RNO[13], arses.counter[13], arses.un2_counter_cry_13_c }
ble_pack arses.counter_14_LC_17_17_5 { arses.counter_RNO[14], arses.counter[14] }
clb_pack LT_17_17 { arses.counter_9_LC_17_17_0, arses.counter_10_LC_17_17_1, arses.counter_11_LC_17_17_2, arses.counter_12_LC_17_17_3, arses.counter_13_LC_17_17_4, arses.counter_14_LC_17_17_5 }
set_location LT_17_17 17 17
ble_pack arses.counter_1_LC_17_18_0 { arses.counter_RNO[1], arses.counter[1] }
clb_pack LT_17_18 { arses.counter_1_LC_17_18_0 }
set_location LT_17_18 17 18
ble_pack dig1.leds_1_i_3_LC_18_13_0 { dig1.leds_cnst_3_1_.m78, dig1.leds_1_i[3] }
clb_pack LT_18_13 { dig1.leds_1_i_3_LC_18_13_0 }
set_location LT_18_13 18 13
ble_pack debounceup.counter_RNI45V02_4_LC_18_14_2 { debounceup.counter_RNI45V02[4] }
ble_pack debounceup.counter_0_LC_18_14_3 { debounceup.counter_RNO[0], debounceup.counter[0] }
ble_pack debounceup.out_RNO_1_LC_18_14_4 { debounceup.out_RNO_1 }
ble_pack debounceup.out_RNO_0_LC_18_14_5 { debounceup.out_RNO_0 }
ble_pack debounceup.counter_1_LC_18_14_6 { debounceup.counter_RNO[1], debounceup.counter[1] }
clb_pack LT_18_14 { debounceup.counter_RNI45V02_4_LC_18_14_2, debounceup.counter_0_LC_18_14_3, debounceup.out_RNO_1_LC_18_14_4, debounceup.out_RNO_0_LC_18_14_5, debounceup.counter_1_LC_18_14_6 }
set_location LT_18_14 18 14
ble_pack dig1.leds_1_i_2_LC_18_15_0 { dig1.leds_cnst_3_1_.leds_17_i_ns[2], dig1.leds_1_i[2] }
clb_pack LT_18_15 { dig1.leds_1_i_2_LC_18_15_0 }
set_location LT_18_15 18 15
ble_pack arses.counter_RNIA58_5_LC_18_16_2 { arses.counter_RNIA58[5] }
ble_pack arses.counter_RNIOKH_1_LC_18_16_3 { arses.counter_RNIOKH[1] }
ble_pack arses.counter_RNI04C4_9_LC_18_16_4 { arses.counter_RNI04C4[9] }
ble_pack arses.counter_RNIOS0A_14_LC_18_16_5 { arses.counter_RNIOS0A[14] }
ble_pack arses.clock_out_LC_18_16_6 { arses.clock_out_RNIR6ER_arses.clock_out_REP_LUT4_0, arses.clock_out }
clb_pack LT_18_16 { arses.counter_RNIA58_5_LC_18_16_2, arses.counter_RNIOKH_1_LC_18_16_3, arses.counter_RNI04C4_9_LC_18_16_4, arses.counter_RNIOS0A_14_LC_18_16_5, arses.clock_out_LC_18_16_6 }
set_location LT_18_16 18 16
ble_pack arses.counter_RNI1L5_2_LC_18_17_5 { arses.counter_RNI1L5[2] }
clb_pack LT_18_17 { arses.counter_RNI1L5_2_LC_18_17_5 }
set_location LT_18_17 18 17
ble_pack arses.counter_0_LC_18_18_6 { arses.counter_RNO[0], arses.counter[0] }
clb_pack LT_18_18 { arses.counter_0_LC_18_18_6 }
set_location LT_18_18 18 18
ble_pack dig1.leds_cnst_3_1__m77_ns_LC_19_13_3 { dig1.leds_cnst_3_1_.m77_ns }
ble_pack dig1.leds_cnst_3_1__m71_LC_19_13_4 { dig1.leds_cnst_3_1_.m71 }
ble_pack debouncedn.out_LC_19_13_5 { debouncedn.out_RNO, debouncedn.out }
clb_pack LT_19_13 { dig1.leds_cnst_3_1__m77_ns_LC_19_13_3, dig1.leds_cnst_3_1__m71_LC_19_13_4, debouncedn.out_LC_19_13_5 }
set_location LT_19_13 19 13
ble_pack dig1.leds_cnst_3_1__m57_LC_19_15_3 { dig1.leds_cnst_3_1_.m57 }
ble_pack dig1.leds_cnst_3_1__leds_17_i_ns_1_2_LC_19_15_4 { dig1.leds_cnst_3_1_.leds_17_i_ns_1[2] }
ble_pack dig1.leds_cnst_3_1__m60_LC_19_15_5 { dig1.leds_cnst_3_1_.m60 }
clb_pack LT_19_15 { dig1.leds_cnst_3_1__m57_LC_19_15_3, dig1.leds_cnst_3_1__leds_17_i_ns_1_2_LC_19_15_4, dig1.leds_cnst_3_1__m60_LC_19_15_5 }
set_location LT_19_15 19 15
ble_pack dig1.leds_cnst_3_1__m68_bm_LC_19_16_0 { dig1.leds_cnst_3_1_.m68_bm }
ble_pack dig1.leds_cnst_3_1__m68_am_LC_19_16_1 { dig1.leds_cnst_3_1_.m68_am }
ble_pack arses.clock_out_RNIR6ER_LC_19_16_2 { arses.clock_out_RNIR6ER }
clb_pack LT_19_16 { dig1.leds_cnst_3_1__m68_bm_LC_19_16_0, dig1.leds_cnst_3_1__m68_am_LC_19_16_1, arses.clock_out_RNIR6ER_LC_19_16_2 }
set_location LT_19_16 19 16
ble_pack lcolreg_1_LC_19_17_6 { dig1.leds_cnst_3_1_.N_13_0_i, lcolreg[1] }
clb_pack LT_19_17 { lcolreg_1_LC_19_17_6 }
set_location LT_19_17 19 17
ble_pack delayConstant_0_LC_20_11_6 { delayConstant_RNO[0], delayConstant[0] }
clb_pack LT_20_11 { delayConstant_0_LC_20_11_6 }
set_location LT_20_11 20 11
ble_pack olddn_RNIM5BH1_LC_20_12_0 { olddn_RNIM5BH1 }
ble_pack oldup_RNI8NJV_LC_20_12_1 { oldup_RNI8NJV }
ble_pack un1_delayConstant_cry_0_c_RNO_LC_20_12_2 { un1_delayConstant_cry_0_c_RNO }
ble_pack olddn_RNIM5BH1_3_LC_20_12_3 { olddn_RNIM5BH1_3 }
ble_pack olddn_RNIEENH_LC_20_12_4 { olddn_RNIEENH }
ble_pack oldup_LC_20_12_5 { oldup_THRU_LUT4_0, oldup }
ble_pack olddn_RNIM5BH1_0_LC_20_12_6 { olddn_RNIM5BH1_0 }
ble_pack olddn_LC_20_12_7 { olddn_THRU_LUT4_0, olddn }
clb_pack LT_20_12 { olddn_RNIM5BH1_LC_20_12_0, oldup_RNI8NJV_LC_20_12_1, un1_delayConstant_cry_0_c_RNO_LC_20_12_2, olddn_RNIM5BH1_3_LC_20_12_3, olddn_RNIEENH_LC_20_12_4, oldup_LC_20_12_5, olddn_RNIM5BH1_0_LC_20_12_6, olddn_LC_20_12_7 }
set_location LT_20_12 20 12
ble_pack dig1.leds_cnst_3_1__m77_am_LC_20_13_2 { dig1.leds_cnst_3_1_.m77_am }
ble_pack debounceup.out_LC_20_13_4 { debounceup.out_RNO, debounceup.out }
ble_pack dig1.leds_cnst_3_1__m77_bm_LC_20_13_5 { dig1.leds_cnst_3_1_.m77_bm }
clb_pack LT_20_13 { dig1.leds_cnst_3_1__m77_am_LC_20_13_2, debounceup.out_LC_20_13_4, dig1.leds_cnst_3_1__m77_bm_LC_20_13_5 }
set_location LT_20_13 20 13
ble_pack dig1.leds_cnst_3_1__m35_LC_20_14_4 { dig1.leds_cnst_3_1_.m35 }
clb_pack LT_20_14 { dig1.leds_cnst_3_1__m35_LC_20_14_4 }
set_location LT_20_14 20 14
ble_pack dig2.leds_1_i_1_LC_20_15_3 { dig1.leds_cnst_3_1_.leds_17_i_0_ns[1], dig2.leds_1_i[1] }
ble_pack lcolreg_0_LC_20_15_6 { dig1.leds_cnst_3_1_.N_4_1_i, lcolreg[0] }
ble_pack dig2.leds_1_i_3_LC_20_15_7 { dig1.leds_cnst_3_1_.m42, dig2.leds_1_i[3] }
clb_pack LT_20_15 { dig2.leds_1_i_1_LC_20_15_3, lcolreg_0_LC_20_15_6, dig2.leds_1_i_3_LC_20_15_7 }
set_location LT_20_15 20 15
ble_pack col_1_LC_20_16_0 { col_RNO[1], col[1] }
ble_pack dig1.leds_cnst_3_1__m14_LC_20_16_3 { dig1.leds_cnst_3_1_.m14 }
ble_pack dig1.leds_cnst_3_1__m17_ns_LC_20_16_4 { dig1.leds_cnst_3_1_.m17_ns }
ble_pack col_0_LC_20_16_6 { col_RNO[0], col[0] }
ble_pack dig1.leds_cnst_3_1__m16_LC_20_16_7 { dig1.leds_cnst_3_1_.m16 }
clb_pack LT_20_16 { col_1_LC_20_16_0, dig1.leds_cnst_3_1__m14_LC_20_16_3, dig1.leds_cnst_3_1__m17_ns_LC_20_16_4, col_0_LC_20_16_6, dig1.leds_cnst_3_1__m16_LC_20_16_7 }
set_location LT_20_16 20 16
ble_pack dig1.leds_cnst_3_1__m32_am_LC_20_17_2 { dig1.leds_cnst_3_1_.m32_am }
ble_pack dig1.leds_cnst_3_1__m32_bm_LC_20_17_7 { dig1.leds_cnst_3_1_.m32_bm }
clb_pack LT_20_17 { dig1.leds_cnst_3_1__m32_am_LC_20_17_2, dig1.leds_cnst_3_1__m32_bm_LC_20_17_7 }
set_location LT_20_17 20 17
ble_pack dig2.leds_1_i_2_LC_20_18_1 { dig1.leds_cnst_3_1_.leds_17_i_0_ns[2], dig2.leds_1_i[2] }
clb_pack LT_20_18 { dig2.leds_1_i_2_LC_20_18_1 }
set_location LT_20_18 20 18
ble_pack olddn_RNIM5BH1_1_LC_21_11_1 { olddn_RNIM5BH1_1 }
ble_pack olddn_RNIM5BH1_4_LC_21_11_3 { olddn_RNIM5BH1_4 }
ble_pack olddn_RNIM5BH1_2_LC_21_11_7 { olddn_RNIM5BH1_2 }
clb_pack LT_21_11 { olddn_RNIM5BH1_1_LC_21_11_1, olddn_RNIM5BH1_4_LC_21_11_3, olddn_RNIM5BH1_2_LC_21_11_7 }
set_location LT_21_11 21 11
ble_pack un1_delayConstant_cry_0_c_LC_21_12_0 { un1_delayConstant_cry_0_c }
ble_pack delayConstant_1_LC_21_12_1 { delayConstant_RNO[1], delayConstant[1], un1_delayConstant_cry_1_0_c }
ble_pack un1_delayConstant_cry_1_0_c_RNIJGN92_LC_21_12_2 { un1_delayConstant_cry_1_0_c_RNIJGN92, un1_delayConstant_cry_2_0_c }
ble_pack delayConstant_3_LC_21_12_3 { delayConstant_RNO[3], delayConstant[3], un1_delayConstant_cry_3_0_c }
ble_pack delayConstant_4_LC_21_12_4 { delayConstant_RNO[4], delayConstant[4], un1_delayConstant_cry_4_0_c }
ble_pack delayConstant_5_LC_21_12_5 { delayConstant_RNO[5], delayConstant[5], un1_delayConstant_cry_5_0_c }
ble_pack un1_delayConstant_cry_5_0_c_RNIR4GA2_LC_21_12_6 { un1_delayConstant_cry_5_0_c_RNIR4GA2, un1_delayConstant_cry_6_0_c }
ble_pack delayConstant_7_LC_21_12_7 { delayConstant_RNO[7], delayConstant[7] }
clb_pack LT_21_12 { un1_delayConstant_cry_0_c_LC_21_12_0, delayConstant_1_LC_21_12_1, un1_delayConstant_cry_1_0_c_RNIJGN92_LC_21_12_2, delayConstant_3_LC_21_12_3, delayConstant_4_LC_21_12_4, delayConstant_5_LC_21_12_5, un1_delayConstant_cry_5_0_c_RNIR4GA2_LC_21_12_6, delayConstant_7_LC_21_12_7 }
set_location LT_21_12 21 12
ble_pack delayConstant_6_LC_21_13_6 { delayConstant_6_THRU_LUT4_0, delayConstant[6] }
ble_pack delayConstant_2_LC_21_13_7 { delayConstant_2_THRU_LUT4_0, delayConstant[2] }
clb_pack LT_21_13 { delayConstant_6_LC_21_13_6, delayConstant_2_LC_21_13_7 }
set_location LT_21_13 21 13
ble_pack dig1.leds_cnst_3_1__m41_bm_LC_21_15_2 { dig1.leds_cnst_3_1_.m41_bm }
ble_pack dig1.leds_cnst_3_1__m41_am_LC_21_15_4 { dig1.leds_cnst_3_1_.m41_am }
ble_pack dig1.leds_cnst_3_1__m41_ns_LC_21_15_5 { dig1.leds_cnst_3_1_.m41_ns }
clb_pack LT_21_15 { dig1.leds_cnst_3_1__m41_bm_LC_21_15_2, dig1.leds_cnst_3_1__m41_am_LC_21_15_4, dig1.leds_cnst_3_1__m41_ns_LC_21_15_5 }
set_location LT_21_15 21 15
ble_pack dig1.leds_cnst_3_1__m2_LC_21_16_3 { dig1.leds_cnst_3_1_.m2 }
ble_pack dig1.leds_cnst_3_1__m10_ns_1_LC_21_16_4 { dig1.leds_cnst_3_1_.m10_ns_1 }
ble_pack dig1.leds_cnst_3_1__m10_ns_LC_21_16_5 { dig1.leds_cnst_3_1_.m10_ns }
ble_pack dig1.leds_cnst_3_1__m52_LC_21_16_6 { dig1.leds_cnst_3_1_.m52 }
clb_pack LT_21_16 { dig1.leds_cnst_3_1__m2_LC_21_16_3, dig1.leds_cnst_3_1__m10_ns_1_LC_21_16_4, dig1.leds_cnst_3_1__m10_ns_LC_21_16_5, dig1.leds_cnst_3_1__m52_LC_21_16_6 }
set_location LT_21_16 21 16
ble_pack dig1.leds_cnst_3_1__m24_LC_21_17_1 { dig1.leds_cnst_3_1_.m24 }
ble_pack dig1.leds_cnst_3_1__m21_LC_21_17_5 { dig1.leds_cnst_3_1_.m21 }
ble_pack dig1.leds_cnst_3_1__leds_17_i_0_ns_1_2_LC_21_17_6 { dig1.leds_cnst_3_1_.leds_17_i_0_ns_1[2] }
clb_pack LT_21_17 { dig1.leds_cnst_3_1__m24_LC_21_17_1, dig1.leds_cnst_3_1__m21_LC_21_17_5, dig1.leds_cnst_3_1__leds_17_i_0_ns_1_2_LC_21_17_6 }
set_location LT_21_17 21 17
ble_pack delayConstant_fast_6_LC_22_11_4 { delayConstant_fast_6_THRU_LUT4_0, delayConstant_fast[6] }
ble_pack delayConstant_fast_2_LC_22_11_7 { delayConstant_fast_2_THRU_LUT4_0, delayConstant_fast[2] }
clb_pack LT_22_11 { delayConstant_fast_6_LC_22_11_4, delayConstant_fast_2_LC_22_11_7 }
set_location LT_22_11 22 11
ble_pack dig1.leds_1_i_1_LC_22_15_6 { dig1.leds_cnst_3_1_.leds_17_i_ns[1], dig1.leds_1_i[1] }
clb_pack LT_22_15 { dig1.leds_1_i_1_LC_22_15_6 }
set_location LT_22_15 22 15
ble_pack dig1.leds_cnst_3_1__m50_LC_22_16_1 { dig1.leds_cnst_3_1_.m50 }
ble_pack dig1.leds_cnst_3_1__m53_ns_LC_22_16_2 { dig1.leds_cnst_3_1_.m53_ns }
ble_pack dig1.leds_cnst_3_1__m47_ns_1_LC_22_16_6 { dig1.leds_cnst_3_1_.m47_ns_1 }
ble_pack dig1.leds_cnst_3_1__m47_ns_LC_22_16_7 { dig1.leds_cnst_3_1_.m47_ns }
clb_pack LT_22_16 { dig1.leds_cnst_3_1__m50_LC_22_16_1, dig1.leds_cnst_3_1__m53_ns_LC_22_16_2, dig1.leds_cnst_3_1__m47_ns_1_LC_22_16_6, dig1.leds_cnst_3_1__m47_ns_LC_22_16_7 }
set_location LT_22_16 22 16
ble_pack CONSTANT_ONE_LUT4_LC_23_27_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_23_27 { CONSTANT_ONE_LUT4_LC_23_27_3 }
set_location LT_23_27 23 27
ble_pack arse.cpuresetoutreg_RNO_4_LC_27_7_5 { arse.cpuresetoutreg_RNO_4 }
clb_pack LT_27_7 { arse.cpuresetoutreg_RNO_4_LC_27_7_5 }
set_location LT_27_7 27 7
ble_pack arse.cpuresetcount_0_LC_27_8_0 { arse.cpuresetcount_RNO[0], arse.cpuresetcount[0], arse.un1_cpuresetcount_1_cry_0_c }
ble_pack arse.cpuresetcount_1_LC_27_8_1 { arse.cpuresetcount_RNO[1], arse.cpuresetcount[1], arse.un1_cpuresetcount_1_cry_1_c }
ble_pack arse.cpuresetcount_2_LC_27_8_2 { arse.cpuresetcount_RNO[2], arse.cpuresetcount[2], arse.un1_cpuresetcount_1_cry_2_c }
ble_pack arse.cpuresetcount_3_LC_27_8_3 { arse.cpuresetcount_RNO[3], arse.cpuresetcount[3], arse.un1_cpuresetcount_1_cry_3_c }
ble_pack arse.cpuresetcount_4_LC_27_8_4 { arse.cpuresetcount_RNO[4], arse.cpuresetcount[4], arse.un1_cpuresetcount_1_cry_4_c }
ble_pack arse.cpuresetcount_5_LC_27_8_5 { arse.cpuresetcount_RNO[5], arse.cpuresetcount[5], arse.un1_cpuresetcount_1_cry_5_c }
ble_pack arse.cpuresetcount_6_LC_27_8_6 { arse.cpuresetcount_RNO[6], arse.cpuresetcount[6], arse.un1_cpuresetcount_1_cry_6_c }
ble_pack arse.cpuresetcount_7_LC_27_8_7 { arse.cpuresetcount_RNO[7], arse.cpuresetcount[7] }
clb_pack LT_27_8 { arse.cpuresetcount_0_LC_27_8_0, arse.cpuresetcount_1_LC_27_8_1, arse.cpuresetcount_2_LC_27_8_2, arse.cpuresetcount_3_LC_27_8_3, arse.cpuresetcount_4_LC_27_8_4, arse.cpuresetcount_5_LC_27_8_5, arse.cpuresetcount_6_LC_27_8_6, arse.cpuresetcount_7_LC_27_8_7 }
set_location LT_27_8 27 8
ble_pack arse.cpuresetoutreg_RNO_2_LC_27_9_0 { arse.cpuresetoutreg_RNO_2 }
clb_pack LT_27_9 { arse.cpuresetoutreg_RNO_2_LC_27_9_0 }
set_location LT_27_9 27 9
ble_pack arse.cpuresetoutreg_RNO_1_LC_28_7_0 { arse.cpuresetoutreg_RNO_1 }
ble_pack arse.cpuresetcount_RNIATKJ1_7_LC_28_7_2 { arse.cpuresetcount_RNIATKJ1[7] }
ble_pack arse.doingseven_RNO_0_LC_28_7_3 { arse.doingseven_RNO_0 }
ble_pack arse.cpuresetcount_RNIB4QP_0_LC_28_7_6 { arse.cpuresetcount_RNIB4QP[0] }
ble_pack arse.cpuclkreset_RNO_0_LC_28_7_7 { arse.cpuclkreset_RNO_0 }
clb_pack LT_28_7 { arse.cpuresetoutreg_RNO_1_LC_28_7_0, arse.cpuresetcount_RNIATKJ1_7_LC_28_7_2, arse.doingseven_RNO_0_LC_28_7_3, arse.cpuresetcount_RNIB4QP_0_LC_28_7_6, arse.cpuclkreset_RNO_0_LC_28_7_7 }
set_location LT_28_7 28 7
ble_pack arse.cpuresetoutreg_RNO_7_LC_28_8_0 { arse.cpuresetoutreg_RNO_7 }
ble_pack arse.cpuresetoutreg_RNO_6_LC_28_8_1 { arse.cpuresetoutreg_RNO_6 }
ble_pack arse.cpuresetoutreg_RNO_5_LC_28_8_2 { arse.cpuresetoutreg_RNO_5 }
ble_pack arse.cpuresetoutreg_RNO_3_LC_28_8_3 { arse.cpuresetoutreg_RNO_3 }
ble_pack arse.cpuresetoutreg_RNO_0_LC_28_8_4 { arse.cpuresetoutreg_RNO_0 }
ble_pack arse.cpuresetoutreg_LC_28_8_5 { arse.cpuresetoutreg_RNO, arse.cpuresetoutreg }
clb_pack LT_28_8 { arse.cpuresetoutreg_RNO_7_LC_28_8_0, arse.cpuresetoutreg_RNO_6_LC_28_8_1, arse.cpuresetoutreg_RNO_5_LC_28_8_2, arse.cpuresetoutreg_RNO_3_LC_28_8_3, arse.cpuresetoutreg_RNO_0_LC_28_8_4, arse.cpuresetoutreg_LC_28_8_5 }
set_location LT_28_8 28 8
ble_pack arse.cpuclkreset_LC_29_6_6 { arse.cpuclkreset_RNO, arse.cpuclkreset }
clb_pack LT_29_6 { arse.cpuclkreset_LC_29_6_6 }
set_location LT_29_6 29 6
ble_pack arse.doingseven_LC_29_7_6 { arse.doingseven_RNO, arse.doingseven }
clb_pack LT_29_7 { arse.doingseven_LC_29_7_6 }
set_location LT_29_7 29 7
ble_pack debounceconsolereset.out_RNI1B6C_LC_29_8_4 { debounceconsolereset.out_RNI1B6C }
clb_pack LT_29_8 { debounceconsolereset.out_RNI1B6C_LC_29_8_4 }
set_location LT_29_8 29 8
ble_pack arse.diveight.counter_0_LC_30_6_4 { arse.diveight.counter_ns_2_0_.m1, arse.diveight.counter[0] }
ble_pack arse.diveight.counter_2_LC_30_6_5 { arse.diveight.counter_RNIAAKM1_1_arse.diveight.counter_2_REP_LUT4_0, arse.diveight.counter[2] }
ble_pack arse.diveight.counter_1_LC_30_6_6 { arse.diveight.counter_ns_2_0_.m3, arse.diveight.counter[1] }
clb_pack LT_30_6 { arse.diveight.counter_0_LC_30_6_4, arse.diveight.counter_2_LC_30_6_5, arse.diveight.counter_1_LC_30_6_6 }
set_location LT_30_6 30 6
ble_pack arse.divseven.seven_LC_30_8_2 { arse.divseven.seven_RNO, arse.divseven.seven }
clb_pack LT_30_8 { arse.divseven.seven_LC_30_8_2 }
set_location LT_30_8 30 8
ble_pack arse.diveight.dout_0_LC_31_6_4 { arse.diveight.dout_RNO[0], arse.diveight.dout[0] }
clb_pack LT_31_6 { arse.diveight.dout_0_LC_31_6_4 }
set_location LT_31_6 31 6
ble_pack arse.divseven.seven_RNO_0_LC_31_9_0 { arse.divseven.seven_RNO_0 }
ble_pack arse.divseven.counter_0_LC_31_9_1 { arse.divseven.counter_ns_2_0_.N_4_i, arse.divseven.counter[0] }
ble_pack arse.divseven.counter_2_LC_31_9_2 { arse.divseven.counter_ns_2_0_.N_8_i, arse.divseven.counter[2] }
ble_pack arse.divseven.counter_1_LC_31_9_3 { arse.divseven.counter_ns_2_0_.N_5_i, arse.divseven.counter[1] }
ble_pack arse.divseven.dout_RNO_0_1_LC_31_9_4 { arse.divseven.dout_RNO_0[1] }
ble_pack arse.divseven.dout_RNO_0_LC_31_9_7 { arse.divseven.dout_RNO[0] }
clb_pack LT_31_9 { arse.divseven.seven_RNO_0_LC_31_9_0, arse.divseven.counter_0_LC_31_9_1, arse.divseven.counter_2_LC_31_9_2, arse.divseven.counter_1_LC_31_9_3, arse.divseven.dout_RNO_0_1_LC_31_9_4, arse.divseven.dout_RNO_0_LC_31_9_7 }
set_location LT_31_9 31 9
ble_pack arse.apusynclatched_LC_32_4_7 { arse.apusynclatched_RNO, arse.apusynclatched }
clb_pack LT_32_4 { arse.apusynclatched_LC_32_4_7 }
set_location LT_32_4 32 4
ble_pack arse.apuresetoutreg_LC_32_5_5 { arse.apuresetoutreg_THRU_LUT4_0, arse.apuresetoutreg }
clb_pack LT_32_5 { arse.apuresetoutreg_LC_32_5_5 }
set_location LT_32_5 32 5
ble_pack arse.diveight.dout_1_LC_32_6_4 { arse.diveight.counter_RNIAAKM1[1], arse.diveight.dout[1] }
clb_pack LT_32_6 { arse.diveight.dout_1_LC_32_6_4 }
set_location LT_32_6 32 6
ble_pack arse.divseven.dout_1_LC_32_9_3 { arse.divseven.dout_RNO[1], arse.divseven.dout[1] }
clb_pack LT_32_9 { arse.divseven.dout_1_LC_32_9_3 }
set_location LT_32_9 32 9
ble_pack arse.divseven.dout_0_LC_32_10_5 { arse.divseven.dout_0_THRU_LUT4_0, arse.divseven.dout[0] }
clb_pack LT_32_10 { arse.divseven.dout_0_LC_32_10_5 }
set_location LT_32_10 32 10
set_location top_pll_nrtthrth.PLLOUTCORE_derived_clock_RNIRGL5 17 33
set_location arse.divseven.io_0_RNIIG08 16 33
set_location masterreset_ibuf_RNIKP26_0 0 16
set_io masterreset C11
set_io led4 D6
set_io lcol3 A6
set_io led5 A7
set_io lcol2 D10
set_io led6 C7
set_io led2 A10
set_io lcol1 A12
set_io deldn A5
set_io cpuclk K14
set_io apureset J12
set_io led7 A4
set_io led3 D7
set_io lcol4 C5
set_io delup A11
set_io cpureset K12
set_io apusync L12
set_io PACKAGEPIN P8
set_io led8 C4
set_io led1 C10
set_io consolereset C6
set_io apuclk H11
