# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Jan 7 2024 17:25:23

# Family & Device:    iCE40HX8K

# Package:            CB132

# ##############################################################################

###IOSet List 20
set_io apuclk H11 -io_std SB_LVCMOS -pullup no
set_io consolereset C6
set_io led1 C10
set_io lcol3 A6
set_io led4 D6
set_io led8 C4
set_io masterreset C11
set_io PACKAGEPIN P8
set_io apusync L12
set_io cpureset K12 -io_std SB_LVCMOS -pullup no
set_io lcol4 C5
set_io led3 D7
set_io led7 A4
set_io apureset J12 -io_std SB_LVCMOS -pullup no
set_io cpuclk K14 -io_std SB_LVCMOS -pullup no
set_io lcol1 A12
set_io led2 A10
set_io led6 C7
set_io lcol2 D10
set_io led5 A7

